

  ::ng-deep .selected-data,
::ng-deep .options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .selected-data .caption {
  font-weight: bold;
  font-size: 115%;
}

::ng-deep .options .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .option {
  margin-top: 10px;
}

::ng-deep .option > span {
  width: 120px;
  display: inline-block;
}

::ng-deep .option > .dx-widget {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 350px;
}


//css para recuadro de imagenes y descripcion de la publicacion

::ng-deep .large-text {
  font-size: 13px;
  color: white /* #ff6a50 */
}

::ng-deep .large-text-precio {
  font-size: 14px;
  color: darkorange /* #ff6a50 */
}

::ng-deep .large-text-anunciante{
  font-size: 14px;
  color: turquoise /* #ff6a50 */
}

::ng-deep .opacity {
  opacity: 0.5;
}

::ng-deep .images {
  font-size: 0; /* Elimina el espacio blanco entre los elementos inline-block */
}

::ng-deep .images > div {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
  margin-bottom: 20px; /* Agrega espacio entre cada recuadro de imagen */
}

::ng-deep .images .item-content {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

::ng-deep .images .item-content > img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor item-content */
  display: block;
  margin: 0;
}

::ng-deep .item-content .item-options {
  margin-top: 0;
  height: 100px; /* Ajusta la altura del recuadro item-options */
  padding-top: 0px; /* Ajusta el padding según lo que necesites */
  background-color: rgba(19, 32, 51, 0.8);
  box-sizing: border-box;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  width: 100%;
}

::ng-deep .images .item-content:hover > .item-options {
  border-bottom: 2px solid #f05b41;
  border-left: 2px solid #f05b41;
  border-right: 2px solid #f05b41;
  box-shadow: inset 0 0 0 2px #f05b41;
}

::ng-deep .item-content .item-options > div {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  background-color: rgba(19, 32, 51, 0.8);
  box-sizing: border-box;
}

::ng-deep .images .item-content:hover > img {
  border: 2px solid #f05b41;
}

::ng-deep .item-content .item-options .address,
::ng-deep .item-content .item-options .price {
  max-width: 100%;
  padding-left: 8px;
}

::ng-deep .item-content .item-options .address {
  font-size: 14px;
  font-weight: bold;
  color: chartreuse;
}


//fin css para recuadro de imagenes y descripcion de la publicacion












::ng-deep .item-content .item-options .agent img {
  display: block;
  width: 13px;
  height: 16px;
  margin: 8px auto 2px;
}

::ng-deep .agent-details > img,
.agent-details > div {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}

::ng-deep .agent-details > img {
  width: 40px;
  margin-right: 10px;
}

::ng-deep .agent-details .phone {
  font-size: 18px;
}

::ng-deep .popup-property-details {
  overflow: hidden;
  position: relative;
}

::ng-deep .popup-property-details .images {
  width: 700px;
}

::ng-deep .popup-property-details img {
  height: 205px;
  margin: 10px 10px 10px 0;
}

::ng-deep .dx-button.favorites {
  background-color: #f05b41;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 0;
}

::ng-deep .dx-button.favorites .dx-icon {
  color: #fff;
}



.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Define 4 columnas de igual tamaño */
  gap: 2%; /* Espacio entre los videos */
  padding: 2%; /* Espacio alrededor del contenedor */
}

.video-grid app-video-item {
  width: 100%; /* Asegura que cada video ocupe todo el ancho de su celda */
  aspect-ratio: 16 / 9; /* Mantiene una proporción uniforme de 16:9 */
  box-sizing: border-box;
}

.video-grid::after {
  content: "";
  flex: 0 1 calc(25% - 2%);
  visibility: hidden;
}







::ng-deep .modal-dialog-centered {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  top : 20px;

}

::ng-deep .modal-dialog-centered-message {
  max-width: 50%;
  width: 50%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
 // top : 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

::ng-deep .superior {
  max-width: 90%;
  width: 90%;
  height: 100%;
  margin: 5px;
  padding: 0;
  z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  }

  .dx-overlay-wrapper {
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    //z-index: 3050; 
    color: rgba(0,0,0,.87);
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto,RobotoFallback,"Noto Kufi Arabic",Helvetica,Arial,sans-serif;
    line-height: 1.2857;
    z-index: 1501;
    position: absolute;
    width: 336.953px;
    height: 48px;
    left: 0px;
    top: 0px;
    transform: translate(102px, 503px);
    transition: all 0s ease 0s;
    overflow: visible;
}





::ng-deep .modal-dialog-centered.modal-fullscreen {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;

  
}

::ng-deep .mymap {
  height: 200px;
  width: 400px;
}

::ng-deep .mymapmodal {
  height: 200px;
  width: 400px;
}

::ng-deep .detailcaso{
  border: 2px solid black;
}

.textomodal
{
  font-size: small; overflow: auto; text-overflow: ellipsis; white-space: normal; background-color: transparent; border: none; color: black;
}



.left {
  flex-basis: 70%;
  padding-right: 10px;
}

.right {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

.left2 {
  flex-basis: 70%;
  padding-right: 10px;
}

.right2 {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

::ng-deep .container {
  display: flex;
  max-width: 100%;
}

::ng-deep .content-block2 {
/*  width: 48%;*/
  margin: 1%;
}


//Para el Radio Button
::ng-deep .low .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: gray;
}

::ng-deep .normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: green;
}

::ng-deep .urgent .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: orange;
}

::ng-deep .high .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: red;
}

::ng-deep #radio-group-with-selection {
  margin-bottom: 10px;
}

::ng-deep #tasks-list {
  margin: 0 0 10px 10px;
  white-space: normal;
}

::ng-deep #list {
  margin: 10px 0 0 20px;
  padding-left: 0;
  text-align: left;
}

.textarea
{
  font-family: "Roboto"; 
  background-color: #f8f9fa; 
  border: black; 
  max-width: 100%;
  width: 100%;
  height: 90px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.labelbusqueda
{
  font-size:small;
}

.custom-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
 /* border: 1px solid #ccc;*/
  padding: 10px;
}

.custom-form-group {
  flex: 1;
  margin-right: 10px;
}

.custom-form-group:last-child {
  margin-right: 0;
}

/*
.full-width-button {
  width: 100%;
}*/

//aqui
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */
}

.image-item {
  flex: 0 1 calc(33.33% - 2%); /* Cada video ocupa 1/3 del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho */
}


@media (max-width: 768px) {
  .image-item {
      flex: 1 1 100%; /* En dispositivos móviles, toma todo el ancho */
  }
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */
}

app-video-item {
  flex: 1 1 calc(33.333% - 16px); /* Toma 1/3 del ancho del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total del elemento */
}

@media (max-width: 768px) {
  app-video-item {
      flex: 1 1 100%; /* En dispositivos móviles, toma todo el ancho */
  }
}

#form-container .content-block {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-group {
  flex: 1 1 calc(25% - 16px); /* Toma 1/4 del ancho del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total del elemento */
}

.dx-data-grid {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-group {
      flex: 1 1 100%; /* En dispositivos móviles, toma todo el ancho */
  }
}




//Para galeria de fotos en detalle de publicación

//Galeria de imagenes
/* Ajustes generales */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Mantiene 5 columnas en pantallas grandes */
  gap: 10px;
  border: 1;
}


.image-cell {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1;
}

.image-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1;
}

/* Galería centrada */
.image-gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Botones de paginación */
.pagination-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.pagination-button.left {
  position: absolute;
  left: 0;
}

.pagination-button.right {
  position: absolute;
  right: 0;
}

.pagination-button:disabled {
  color: gray;
  cursor: not-allowed;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
  /* Ajusta el grid a 2 columnas en dispositivos más pequeños */
  .image-gallery {
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Mantiene 5 columnas en pantallas grandes */
  gap: 10px;
  border: 1;
  }



/* Ajustes generales */
.image-gallerymovil {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Mantiene 3 columnas en pantallas grandes */
  gap: 10px;
  border: 1;
}


.image-cellmovil {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1;
}

.image-cellmovil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1;
}

/* Galería centrada */
.image-gallery-containermovil {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}













  /* Ajustes para el carrusel en pantallas pequeñas */
  .carousel {
    width: 100%; /* El carrusel ocupa el 100% del ancho */
    max-width: 100%; /* Limita el ancho máximo para evitar que se extienda más de la pantalla */
    box-shadow: none; /* Quita las sombras para evitar superposición visual en pantallas pequeñas */
  }

  .carousel img {
    width: 100%;
    height: auto; /* Las imágenes se adaptan al ancho completo */
    object-fit: contain; /* Evita que las imágenes se distorsionen */
  }

  /* Oculta los botones de paginación en pantallas pequeñas */
  .pagination-button {
    display: none;
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .image-gallery {
    grid-template-columns: 3fr; /* Una sola columna para pantallas extra pequeñas */
    gap: 5px;
  }

  .carousel img {
    height: auto; /* Asegura que la imagen se ajuste sin distorsión */
  }
}

/* Mantén el CSS existente */

/* Botones de paginación para el carrusel */
/* Ajustes generales para el carrusel */
/* Ajustes generales del carrusel */
.carousel {
  position: relative; /* Necesario para que los botones se posicionen respecto al carrusel */
  width: 100%; /* Asegura que el carrusel ocupe todo el ancho disponible */
  overflow: visible; /* Asegura que los botones no sean recortados */
}

/* Botones de paginación para el carrusel */
.pagination-button {
  background-color:transparent; /* Fondo semitransparente */
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  z-index: 1000; /* Forzar que los botones estén encima de todo */
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Centra el botón verticalmente */
  display: block; /* Asegura que los botones se muestren */
}

.pagination-button.left {
  left: 10px; /* Posiciona a la izquierda */
}

.pagination-button.right {
  right: 10px; /* Posiciona a la derecha */
}

.pagination-button:disabled {
  color: gray;
  cursor: not-allowed;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .pagination-button {
    font-size: 18px; /* Tamaño más pequeño para pantallas más pequeñas */
    left: 5px;
    right: 5px;
  }
}

@media (max-width: 480px) {
  .pagination-button {
    font-size: 16px;
    left: 2px;
    right: 2px;
  }
}

/* Imágenes del carrusel */
.carousel img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Asegurarse de que el contenedor no tenga overflow que esconda los botones */
.carousel-container {
  overflow: visible !important; /* Forzamos que los botones sean visibles */
  position: relative;
}

/*****/

//Nuevo

.labeldetalle
{
  font-family: system-ui, sans-serif;
  font-size:large;
  font-weight: bold;
}

.labeldetalledescripcion
{
  font-family: sans-serif;
  font-size:medium;
  
}

.resumenPublicacion
{
  
  outline: none;
  vertical-align: middle;

  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  
}

.resumenPublicacion2
{
  outline: none;
  vertical-align: middle;

  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  background-color : white;
}

.resumenCosto
{
  outline: none;
  vertical-align: middle;
  background-color: #F4F6F6;
  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
 
}

.resumenContacto {
  border: 1px solid black; /* Borde del fieldset */
  padding: 5px; /* Espacio interno */
  margin-bottom: 20px; /* Espacio debajo del fieldset */
  border-radius: 5px; /* Bordes redondeados */

}
 legend {
  font-style:normal;
  color: darkblue;
  font-size: large;
  font-weight: bold;
  padding: 0 5px; /* Espacio alrededor del texto del legend */
}



/*dx-popup*/

@media (max-width: 768px) {
  .dx-popup {
      width: 100% !important;
      height: 100% !important;
      max-height: 100vh;
      max-width: 100%;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      border-radius: 0;
  }
}

.dx-popup .dx-overlay-content {
  overflow-y: auto;        /* Habilitar scroll vertical */
  height: 100%;            /* Asegurar que el contenido ocupe el 100% del contenedor */
  max-height: 100vh;       /* Limitar la altura máxima a la altura de la ventana */
  box-sizing: border-box;  /* Incluir padding y border en la altura y ancho total */
}

.dx-popup .dx-popup-content {
  padding: 10px;           /* Ajustar el padding interno según sea necesario */
  overflow-y: auto;        /* Asegurar que el contenido sea scrollable */
  max-height: calc(100vh - 50px); /* Dejar espacio para el título y botones */
}

@media (max-width: 768px) {
  .dx-popup .dx-overlay-content {
      overflow-y: auto;
      max-height: 100vh;
  }

  
  .popup-content {
      max-height: calc(100vh - 50px);
      overflow-y: scroll;
  }


  .custom-form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .custom-form-group {
    width: 16.5%;
    margin-right: 0.5%;
    margin-bottom: 10px;
  }
  
  @media (max-width: 1200px) {
    .custom-form-group {
      width: 30%;
    }
  }
  
  @media (max-width: 768px) {
    .custom-form-group {
      width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .custom-form-group {
      width: 100%;
    }
  }
  
  .full-width-button {
    width: 50%;
  }
  


  /* Estilo para hacer que el contenido del popup Ver Mas sea desplazable */
.popup-content {
  max-height: 100%;
  overflow-y: auto;
  padding: 15px;
  font-size: medium;
}

.star-gold {
  color: gold;
}

.star-green {
  color: green;
}

/* Ajustes adicionales para los botones */
.star-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
}

.star-gold-vend {
  color: gold;
}

.star-green-vend {
  color: green;
}

/* Ajustes adicionales para los botones */
.star-buttonvend {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
}


}


/****************************************************************************************************************************************************************
*****************************************************************************************************************************************************************/
//Para probar nueva interfaz


::ng-deep .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas de igual tamaño */
  gap: 20px; /* Espacio entre las tarjetas */
 
  margin: 0 auto; /* Centrar el contenedor */
  width: 100%; /* Asegurarse de que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding y border en el cálculo de width y height */
}

.listing-card {
  background-color: var(--card-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.listing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--shadow-color);
}

.listing-card {
  background-color: var(--card-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que las tarjetas llenen la altura de la grilla */
}
.listing-image-container {
  position: relative;
  height: 200px; /* Altura fija para las imágenes */
  overflow: hidden;
}

/*
.listing-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.3s ease;
}
*/

.listing-image
{
  width: 100%;         /* La imagen ocupará todo el ancho del contenedor */
  height: auto !important;        /* La altura se ajustará proporcionalmente */
  object-fit: contain  !important; /* La imagen se ajustará sin perder proporciones ni recortarse */
  transition: transform 0.3s ease;
}

.listing-card:hover .listing-image {
  transform: scale(1.05); /* Efecto al pasar el ratón */
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas aún más pequeñas */
  }
}

.listing-details {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.listing-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: var(--primary-color);
}

.listing-price {
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
  color: darkorange;
}

.listing-ubicacion {
  font-size: 10px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
  color: darkgreen;
}

.listing-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
  color: #666;
  flex-grow: 1;
}

.listing-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #888;
  margin-top: auto;
}

.listing-rating {
  display: flex;
  align-items: center;
}

.star-rating {
  color: #f39c12;
  margin-right: 5px;
}

.listing-code {
  
  /*background-color: var(--primary-color);
  color: aquamarine;
  
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;*/

  position: absolute;
  top: 10px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;


}

.publisher {
  display: grid;             /* Activa grid */
  grid-template-columns: auto 1fr; /* Define dos columnas: una para la imagen y otra para el texto */
  align-items: center;       /* Alinea verticalmente los elementos al centro */

  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.publisher-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.publisher-name {
  font-size: 14px;
  font-weight: 500;
}





.white-fill {
  color: white; /* Color blanco para el texto de relleno */
}

.parent-container {
  width: 100%; /* Asegúrate de que el contenedor padre ocupe todo el ancho */
  height: 100%; /* Opcional, si deseas que también ocupe toda la altura */
}
//Fin para probar nueva interfaz

/* En styles.css o en los estilos del componente */


//CSS para comentarios
.comments-container {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho según tus necesidades */
 
  padding: 10px;
  position: relative;
}

.comments-list {
  overflow-y: hidden;
  transition: height 0.3s ease;
  padding-right: 10px; /* Espacio para la barra de desplazamiento */
}

.comment {
  padding: 5px 0;
 
  font-size:small;
}

.view-all-link {
  display: block;
  text-align: right;
  color: #007bff;
  cursor: pointer;
  font-size:small;
}

.comments-list.show-scrollbar {
  overflow-y: auto;
  height: 100px; /* Establece la altura cuando no se muestran todos */
}


//
.comment-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #666;
}

.stars {
  color: gold;
}

.comments-list {
  overflow-y: auto;
}

.sort-buttons {
  margin-top: 10px;
}

.link-button {
  background: none;
  border: none;
  color: #007bff; /* Color de enlace (puedes cambiarlo según el diseño) */
  cursor: pointer;
  //text-decoration: underline;
  padding-right: 20px;
  font-size:small;
}

.link-button:hover {
  color: #0056b3; /* Color del enlace al pasar el ratón por encima */
}

//Botones
/* Estilos generales para ambos botones */
.button {
  display: inline-block;
  padding: 5px 5px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botón para comentarios positivos */
.button-positive {
  background-color: #4CAF50; /* Verde */
}
.button-positive:hover {
  background-color: #45a049; /* Verde más oscuro */
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 150, 0, 0.2);
}

/* Botón para comentarios negativos */
.button-negative {
  background-color: #f44336; /* Rojo */
}
.button-negative:hover {
  background-color: #d32f2f; /* Rojo más oscuro */
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(150, 0, 0, 0.2);
}

/* Opcional: efecto de presionar */
.button:active {
  transform: translateY(1px);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

//para filtro de busqueda/* Mantener el formulario en una sola fila en pantallas grandes */

/* Mantener el formulario en una sola fila en pantallas grandes */
.form-row {
  display: flex;
  flex-wrap: nowrap; /* Los elementos estarán en una sola fila */
  gap: 10px; /* Espacio entre los elementos */
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

/* Asegura que cada item de filtro ocupe su espacio de manera flexible */
.flex-item {
  flex: 1 1 auto; /* Los elementos se adaptan al espacio disponible */
  margin: 5px; /* Espacio entre los elementos */
}

/* Hacer que los botones ocupen toda la fila */
.full-width-button {
  width: 100%; /* Los botones ocupan toda la fila */
}

/* Para pantallas pequeñas (por debajo de 768px de ancho) */
@media (max-width: 768px) {
  .form-row {
    flex-wrap: wrap; /* Los elementos se envuelven a nuevas filas */
    gap: 15px; /* Mayor espacio entre los elementos */
  }

  .flex-item {
    flex: 1 0 100%; /* Los elementos ocupan el 100% del ancho disponible */
    margin-bottom: 15px; /* Añadir espacio entre las filas */
  }

  .full-width-button {
    width: 100%; /* Los botones ocupan toda la fila */
  }
}

/* Si la pantalla es muy pequeña, se mantendrá el diseño de una columna */
@media (max-width: 480px) {
  .flex-item {
    flex: 1 0 100%; /* Los elementos ocuparán el 100% del ancho */
  }
}

/*para la paginacion */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}


/*para web  */
.pagination-float {
  position: fixed;
 
  bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  right: 40px; /* Ajusta la distancia desde la derecha */
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  padding: 10px;
  border-radius: 8px;
  z-index: 1000; /* Asegura que quede sobre otros elementos */
  display: flex;             /* Usa Flexbox */
  justify-content: center;   /* Centra los elementos en el eje horizontal */
  align-items: center;       /* Alinea los elementos en el eje vertical */
}

.pagination-float button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-float button:hover:not(:disabled) {
  background-color: #0056b3; /* Cambia el color al pasar el cursor */
}

.pagination-float button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.pagination-float span {
  display: flex;             /* Convierte el span en un contenedor flexible */
  align-items: center;       /* Alinea verticalmente el contenido del span */
}


/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .pagination-floatmovil {
    position: fixed;
 
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    right: 40px; /* Ajusta la distancia desde la derecha */
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    padding: 10px;
    border-radius: 8px;
    z-index: 1000; /* Asegura que quede sobre otros elementos */
    display: flex;             /* Usa Flexbox */
    justify-content: center;   /* Centra los elementos en el eje horizontal */
    align-items: center;       /* Alinea los elementos en el eje vertical */



  }

  .pagination-floatmovil button {
    padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
  }

  .pagination-floatmovil span {
    display: flex;             /* Convierte el span en un contenedor flexible */
  align-items: center;       /* Alinea verticalmente el contenido del span */
  font-size: medium;
  }


  
  

}
 


//Para modal de visualización de imagenes
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  outline: none; /* Necesario para evitar bordes azules al enfocarse */
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  padding: 20px;
  text-align: center;
}

.img-large {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}


//probar
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}



#custom-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc107; /* Color de advertencia */
  color: #000;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.custom-form-group {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}