

::ng-deep .selected-data,
::ng-deep .options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .selected-data .caption {
  font-weight: bold;
  font-size: 115%;
}

::ng-deep .options .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .option {
  margin-top: 10px;
}

::ng-deep .option > span {
  width: 120px;
  display: inline-block;
}

::ng-deep .option > .dx-widget {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 350px;
}




::ng-deep .modal-dialog-centered {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  top : 20px;

}

::ng-deep .modal-dialog-centered-message {
  max-width: 50%;
  width: 50%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
 // top : 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

::ng-deep .superior {
  max-width: 90%;
  width: 90%;
  height: 100%;
  margin: 5px;
  padding: 0;
  z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  }

  .dx-overlay-wrapper {
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    //z-index: 3050; 
    color: rgba(0,0,0,.87);
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto,RobotoFallback,"Noto Kufi Arabic",Helvetica,Arial,sans-serif;
    line-height: 1.2857;
    z-index: 1501;
    position: absolute;
    width: 336.953px;
    height: 48px;
    left: 0px;
    top: 0px;
    transform: translate(102px, 503px);
    transition: all 0s ease 0s;
    overflow: visible;
}





::ng-deep .modal-dialog-centered.modal-fullscreen {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;

  
}

::ng-deep .mymap {
  height: 200px;
  width: 400px;
}

::ng-deep .mymapmodal {
  height: 200px;
  width: 400px;
}

::ng-deep .detailcaso{
  border: 2px solid black;
}

.textomodal
{
  font-size: small; overflow: auto; text-overflow: ellipsis; white-space: normal; background-color: transparent; border: none; color: black;
}



.left {
  flex-basis: 70%;
  padding-right: 10px;
}

.right {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

.left2 {
  flex-basis: 70%;
  padding-right: 10px;
}

.right2 {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

::ng-deep .container {
  display: flex;
  max-width: 100%;
}

::ng-deep .content-block2 {
/*  width: 48%;*/
  margin: 1%;
}


//Para el Radio Button
::ng-deep .low .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: gray;
}

::ng-deep .normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: green;
}

::ng-deep .urgent .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: orange;
}

::ng-deep .high .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: red;
}

::ng-deep #radio-group-with-selection {
  margin-bottom: 10px;
}

::ng-deep #tasks-list {
  margin: 0 0 10px 10px;
  white-space: normal;
}

::ng-deep #list {
  margin: 10px 0 0 20px;
  padding-left: 0;
  text-align: left;
}

.textarea
{
  font-family: "Roboto"; 
  background-color: #f8f9fa; 
  border: black; 
  max-width: 100%;
  width: 100%;
  height: 90px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

//Imagen de usuario


.image-uploader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.responsive-image {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .responsive-image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .responsive-image {
    width: 75px;
    height: 75px;
  }
  
}

.custom-disabled  {
    background-color: linen !important; /* Color de fondo */
  color: black !important; /* Color de texto */
  font-weight: bold;
  }

  .form-row-centered {
    display: flex;
    justify-content: center; /* Centra solo esta fila horizontalmente */
  }
  

  .avatar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); 
    gap: 10px;
    max-width: 600px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.avatar-item {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.avatar-item:hover {
    transform: scale(1.1);
}

.avatar-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid transparent;
}

.avatar-item img:hover {
    border-color: #007bff;
}
