<h2 class="content-block">Mi Perfil</h2>

<div id="form-container">

    <div class="content-block dx-card responsive-paddings">
        <form name="myForm">



            <div class="form-row form-row-centered col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <br>
                        <div class="image-uploader-container">
                            <img [src]="urlBlob + usuarios.ImagenUsuario" alt="{{ usuarios.ImagenUsuario }}"
                                class="responsive-image">
                            <dx-file-uploader #fileuploader1 selectButtonText="Subir Imágen PNG o JPG" labelText=""
                                accept="image/png, image/jpeg" uploadMode="useForm" uploadUrl="URLBase"
                                readyToUploadMessage="Listo para subir" (onValueChanged)="subidaCompletaImagen($event)"
                                uploadFailedMessage="Ocurrió un error al subir la imagen" [(value)]="value"
                                [allowedFileExtensions]="['.png', '.jpg', '.jpeg']" [maxFileSize]="4000000">
                            </dx-file-uploader>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <dx-button stylingMode="contained" text="Contained" type="primary" style="font-weight: bold;"
                        (onClick)="MostrarAvatares()">SELECCIONAR UN AVATAR
                    </dx-button>
                </div>



            </div>


            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="selectPerfil"> Perfil <font COLOR="red">*</font>:</label>
                        <dx-select-box placeholder="Seleccione" [dataSource]="selectPerfil" valueExpr="PerfilID"
                            displayExpr="DescripcionPerfil" [searchEnabled]="true"
                            [(ngModel)]="usuarios.PerfilUsuarioID" [ngModelOptions]="{standalone: true}"
                            [disabled]="true"
                            style="background-color: linen !important;color: black !important; font-weight: bold;">
                        </dx-select-box>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Nombre <font COLOR="red">*</font>:</label>
                        <dx-text-box placeholder="Ingresar Nombre" [(ngModel)]="usuarios.Nombre"
                            [ngModelOptions]="{standalone: true}"></dx-text-box>

                    </div>
                </div>
            </div>
            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="correoElectronico">Correo Electrónico <font COLOR="red">*</font>
                            :</label>
                        <dx-text-box placeholder="Ingresar Correo" [(ngModel)]="usuarios.CorreoElectronico"
                            [ngModelOptions]="{standalone: true}"></dx-text-box>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="contrasena">Contraseña <font COLOR="red">*</font>:</label>
                        <dx-text-box placeholder="Ingresar Contraseña" [(ngModel)]="usuarios.Contrasena"
                            [ngModelOptions]="{standalone: true}" mode="password" passwordChar="*"></dx-text-box>

                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="selectPerfil"> Tipo Documento :</label>
                        <dx-select-box placeholder="Seleccione" [dataSource]="selectListaTipoDocumento"
                            valueExpr="ParametroValor" displayExpr="ParametroContenido" [searchEnabled]="true"
                            [(ngModel)]="usuarios.TipoDocumentoIDS" [ngModelOptions]="{standalone: true}"
                            [searchMode]="'contains'" [searchExpr]="'ParametroContenido'" [searchTimeout]="200"
                            [minSearchLength]="0" [searchEnabled]="true">
                        </dx-select-box>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Número Documento :</label>
                        <dx-text-box placeholder="Ingresar Número Documento" [(ngModel)]="usuarios.NumeroDocumento"
                            [ngModelOptions]="{standalone: true}"></dx-text-box>

                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Razón Social (Nombre de Negocio o Empresa):</label>
                        <dx-text-box placeholder="Ingresar Razón Social" [(ngModel)]="usuarios.RazonSocial"
                            [ngModelOptions]="{standalone: true}"></dx-text-box>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Alias (Nombre que aparecerá en la Publicación) :</label>
                        <dx-text-box placeholder="Ingresar Nombre Social" [(ngModel)]="usuarios.NombreSocial"
                            [ngModelOptions]="{standalone: true}"></dx-text-box>

                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Teléfono Celular</label>
                        <dx-text-box placeholder="Teléfono Celular" [(ngModel)]="usuarios.TelefonoCelular"
                            [ngModelOptions]="{standalone: true}"></dx-text-box>

                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <dx-button stylingMode="contained" text="Contained" type="success"
                        (onClick)="AsignarUsuarios()">Guardar
                    </dx-button>

                </div>
            </div>

        </form>
    </div>
</div>


<ng-template class="mensajePago" #seleccionAvatar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Tip Importante !!! Utilizar un Avatar en tu Perfil</h4>
    </div>
    <div class="modal-body" style="display: flex; align-items: center;">
        <!-- Imagen fija a la izquierda -->
        <div style="flex: 1; max-width: 40%; display: flex; justify-content: center; align-items: center;">
            <img src="../../../assets/images/Alto.jpeg" alt="Actualizar perfil"
                style="width: 80%; height: 80%; object-fit: cover; border-radius: 10px;">
        </div>

        <!-- Mensaje a la derecha -->
        <div style="flex: 2; padding-left: 20px;">
            <p style="font-size: 16px; color: #333;">
                Si no deseas cargar una imagen o fotografía, puedes utilizar alguno de nuestros Avatares disponibles.  
                Solo haz click en la imagen y presiona el botón  
                <span style="background-color: red; color: white; padding: 5px 10px; border-radius: 5px; font-weight: bold;">Aceptar</span>  
                
                <br><br>Luego cuando presiones el botón  
                <span style="background-color: green; color: white; padding: 5px 10px; border-radius: 5px; font-weight: bold;">Guardar</span>,  
                verás reflejado el cambio de tu imagen por el Avatar.
            </p>
            
        </div>
    </div>


    <!-- Grid de avatares -->
  <!-- Grid de avatares -->
<div class="row" style="margin-left: 10px;margin-right: 10px; margin-bottom: 10px;">
    <div class="col-9">
        <div class="avatar-grid">
            <div *ngFor="let avatar of avatars" class="avatar-item" (click)="seleccionarAvatar(avatar)">
                <img [src]="'../../../assets/images/Avatares/' + avatar" [alt]="avatar">
            </div>
        </div>
    </div>
    <div class="col-3">
        <!-- Sección donde se muestra la imagen seleccionada en la parte derecha -->
        <div style="display: flex; justify-content: flex-start; margin-top: 20px;">
            
            <div style="flex: 1; max-width: 40%; display: flex; justify-content: center; align-items: center;">
                <!-- Mostrar la imagen seleccionada -->
                 
                <img *ngIf="selectedAvatar" [src]="'../../../assets/images/Avatares/' + selectedAvatar"
                    alt="Avatar seleccionado"
                    style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                    <br>
                  
            </div>
        </div>
    </div>
</div>



    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"
            (click)="d('cancel click');limpiarAvatar();cerrarModales(); ">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="cerrarModales(); ">Aceptar</button>
    </div>
</ng-template>