<h2 class="content-block">Usuarios</h2>

<div id="form-container">

    <div class="content-block dx-card responsive-paddings">
        <form name="myForm">
            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="selectPerfil"> Perfil <font COLOR="red">*</font>:</label>
                        <dx-select-box  placeholder="Seleccione" [dataSource]="selectPerfil" valueExpr="PerfilID" displayExpr="DescripcionPerfil"
                                [searchEnabled]="true" [(ngModel)]="usuarios.PerfilUsuarioID" [ngModelOptions]="{standalone: true}"  >
                            </dx-select-box>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Nombre <font COLOR="red">*</font>:</label>
                        <dx-text-box placeholder="Ingresar Nombre" [(ngModel)]="usuarios.Nombre" [ngModelOptions]="{standalone: true}" ></dx-text-box>
                        
                    </div>
                </div>
            </div>
           <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="correoElectronico">Correo Electrónico <font COLOR="red">*</font>:</label>
                        <dx-text-box placeholder="Ingresar Correo" [(ngModel)]="usuarios.CorreoElectronico" [ngModelOptions]="{standalone: true}" ></dx-text-box>  
                    </div>
                </div>
          
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="contrasena">Contraseña <font COLOR="red">*</font>:</label>
                        <dx-text-box placeholder="Ingresar Contraseña" [(ngModel)]="usuarios.Contrasena" [ngModelOptions]="{standalone: true}" mode="password" passwordChar="*" ></dx-text-box>
                        
                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="selectPerfil"> Tipo Documento :</label>
                        <dx-select-box  placeholder="Seleccione" [dataSource]="selectListaTipoDocumento"
                        valueExpr="ParametroValor" displayExpr="ParametroContenido"
                        [searchEnabled]="true" [(ngModel)]="usuarios.TipoDocumentoIDS"
                        [ngModelOptions]="{standalone: true}" [searchMode]="'contains'"
                        [searchExpr]="'ParametroContenido'" [searchTimeout]="200"
                        [minSearchLength]="0" [searchEnabled]="true" >
                    </dx-select-box>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Número Documento :</label>
                        <dx-text-box placeholder="Ingresar Número Documento" [(ngModel)]="usuarios.NumeroDocumento" [ngModelOptions]="{standalone: true}" ></dx-text-box>
                        
                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Razón Social:</label>
                        <dx-text-box placeholder="Ingresar Razón Social" [(ngModel)]="usuarios.RazonSocial" [ngModelOptions]="{standalone: true}" ></dx-text-box>
                 
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Nombre Social :</label>
                        <dx-text-box placeholder="Ingresar Nombre Social" [(ngModel)]="usuarios.NombreSocial" [ngModelOptions]="{standalone: true}" ></dx-text-box>
                        
                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Teléfono Celular</label>
                        <dx-text-box placeholder="Teléfono Celular" [(ngModel)]="usuarios.TelefonoCelular" [ngModelOptions]="{standalone: true}" ></dx-text-box>
                 
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="labeld" for="nombre">Fotografía Usuario :</label>
                        <br>
                        <div class="image-uploader-container">
                            <img [src]="urlBlob + usuarios.ImagenUsuario" alt="{{ usuarios.ImagenUsuario }}" class="responsive-image">
                            <dx-file-uploader #fileuploader1 selectButtonText="Subir Imágen PNG o JPG" labelText=""
                              accept="image/png, image/jpeg" uploadMode="useForm" uploadUrl="URLBase"
                              readyToUploadMessage="Listo para subir" (onValueChanged)="subidaCompletaImagen($event)"
                              uploadFailedMessage="Ocurrió un error al subir la imagen" [(value)]="value"
                              [allowedFileExtensions]="['.png', '.jpg', '.jpeg']"
                              [maxFileSize]="4000000">
                            </dx-file-uploader>
                          </div>
                   
                        
                    </div>
                </div>
            </div>


            <div class="form-row col-lg-12">
                
                <div class="col-lg-3">
                    <br>
                    <div class="form-group">
                        <dx-button stylingMode="contained" text="Contained" type="success" 
                            (onClick)="AsignarUsuarios()">Guardar
                        </dx-button>


                    </div>
                </div>
                <div class="col-lg-3">
                    <br>
                    <div class="form-group">
                       

                        <dx-button stylingMode="contained" text="Limpiar Campos" type="success"  (click)="limpiarCampos()">Limpiar Campos
                        </dx-button>

                    </div>
                </div>

            </div>

        </form>

        <br>

    <dx-data-grid keyExpr="UserID" [dataSource]="selectUsuarios" [showBorders]="true"
        [focusedRowEnabled]="true" [columnAutoWidth]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true"
        [rowAlternationEnabled]="true" ng-selected="true" [allowColumnReordering]="true"
        [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true">

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxi-column dataField="UserID" caption="Id"></dxi-column>
        <dxi-column dataField="Nombre" caption="Nombre"></dxi-column>
        <dxi-column dataField="CorreoElectronico" caption="Correo Electrónico"></dxi-column>
        <dxi-column dataField="DescripcionPerfil" caption="Descripción Perfil"></dxi-column>
        <dxi-column dataField="UrlActivacionCuenta" caption="Url Activación Cuenta"></dxi-column>
        <dxi-column dataField="RazonSocial" caption="Razon Social"></dxi-column>
        <dxi-column dataField="NombreSocial" caption="Nombre Social"></dxi-column>
        <dxi-column dataField="NumeroDocumento" caption="Número Documento"></dxi-column>
        <dxi-column dataField="TelefonoCelular" caption="Celular"></dxi-column>
        <dxi-column dataField="EsCuentaVerificada" caption="Cuenta Verificada ?"></dxi-column>
        <dxi-column dataField="AceptaPoliticas" caption="Acepta Politicas ?"></dxi-column>
        
        
        
        <dxo-editing mode="form"></dxo-editing>
            <dxi-column caption="Operaciones" cellTemplate="accionCellTemplate" alignment="center"></dxi-column>
        
        
        

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-search-panel [visible]="true" placeholder="Buscar..."></dxo-search-panel>
        <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage">
        </dxo-state-storing>

        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]" [visible]="true"
            [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
        <dxo-summary>
            <dxi-total-item column="UserID" summaryType="count" displayFormat="Cantidad: {0}">
            </dxi-total-item>
        </dxo-summary>
        <div *dxTemplate="let d of 'accionCellTemplate'">
            <div class="button-cell">

                <dx-button id="button" class="rounded mx-auto"  icon="edit" hint="Editar"   type="success"
                    (click)="Editar(d.data.UserID)"></dx-button>

                    <dx-button id="button" class="rounded mx-auto" icon="remove" hint="Eliminar"  type="danger"
                    (click)="ConfirmacionEliminar(d.data.UserID)"></dx-button>

            </div>
        </div>
    </dx-data-grid>

    
<!--  Modal Confirmación Borrado Registro-->



</div>
</div>

<br>
<br>
<ng-template class="modal-dialog-centered"  #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Eliminar Registro</h4>
    </div>
    <div class="modal-body">
      <p>
        <span class="text-danger"><b>¿Está seguro que desea borrar el registro?</b></span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="d('cancel click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="Eliminar(); d('Ok click'); ">Aceptar</button>
    </div>
  </ng-template>