<div class="parent-container">
  <div class="content-block dx-card responsive-paddings"  #resultadosGrid>
    <label class="labelt">Publicaciones Destacadas</label>
    <div class="grid-container">

      <div *ngFor="let house of getCurrentSlide()">

        <div class="listing-card" style="opacity: 1; transform: scale(1.02); transition: 10s;"
          (click)="showHouse(house)">

          <div class="listing-image-container">
            <img src="{{ urlBlob + house.RutaImagen }}" alt="" class="listing-image">
            <span class="listing-codedestacado">ID : {{house.FechaCreacion | date: 'yyyyMMdd'}}{{house.PublicacionID}}</span>
          </div>
          <div class="listing-details">
            <h2 class="listing-title">
              {{ (house.NombreCategoria || house.NombreSubcategoria) ? (house.NombreCategoria + ' - ' +
              house.NombreSubcategoria) : 'Otros' }}
            </h2>

            <div class="listing-price"><ng-container *ngIf="house.RangoPrecios; else valorUnico">
              {{formatCurrency(house.ValorProductoServicioDesde) }} -
              {{ formatCurrency(house.ValorProductoServicioHasta) }}
          </ng-container>
          <ng-template #valorUnico>
              {{ house.MostrarValorProductoServicio === true ?
              formatCurrency(house.ValorProductoServicio) : '' }}
          </ng-template></div>
            <p class="listing-description">{{ house.Titulo.length > 100 ? house.Titulo.slice(0, 100) + '...' :
              house.Titulo}}</p>
            <div class="listing-meta">
              <div class="listing-rating">
                <ng-container *ngIf="house.PuntuacionPromedio > 0; else noRating">
                  <!-- Iterar sobre el número de estrellas según house.PuntuacionPromedio -->
                  <ng-container *ngFor="let star of [].constructor(house.PuntuacionPromedio); let i = index">
                    <i class="fa fa-star" aria-hidden="true"
                      style="margin-left: 8px; margin-right: 8px; font-size: 1.2rem; color: gold;"></i>
                  </ng-container>
                  <!-- Mostrar el valor de la puntuación -->
                  <span>{{ house.PuntuacionPromedio }}.0</span>
                </ng-container>

                <ng-template #noRating>
                  <span>Sin puntuación</span>
                </ng-template>
              </div>



            </div>
          </div>
          <div class="publisher">
            <img src="{{ urlBlob + house.ImagenUsuario }}" alt="Anunciante" class="publisher-photo">
            <span class="publisher-name">{{ capitalizeFirstLetter(house.NombreSocial) }}</span>
          </div>


        </div>

      </div>

      <!-- Repite las siguientes tarjetas como en el ejemplo anterior -->

    </div>

  
  </div>
  
  <button class="carousel-button prev" (click)="moveCarousel(-1)">&lt;</button>
  <button class="carousel-button next" (click)="moveCarousel(1)">&gt;</button>
</div>






  <ng-template class="modal-dialog modal-xl" #detallePublicacion let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Detalle de la Publicación</h4>
    </div>
  
    <div class="modal-body">
      <div class="container">
  
        <div class="popup-content" *ngIf="!isMobileDevice">
          <div class="row">
            <!-- Fila 1: Carrusel y Galería -->
            <div class="col-lg-5" style="display: flex; justify-content: center; align-items: center;">
              <!-- Columna 1: Carrusel de Imágenes -->
  
  
              <!-- Carrusel -->
              <ng-container *ngIf="selectListaImagenesPublicacion?.length > 0; else noImagen">
                <carousel [interval]="carouselInterval" [activeSlide]="activeSlideIndex"
                  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" (click)="pauseCarouselTemporarily()"
                  class="img-fluid">
                  <slide *ngFor="let imagen of paginatedImages; let i = index">
                    <img [src]="urlBlob + imagen.RutaImagen" alt="{{ imagen.RutaImagen }}" class="img-fluid"
                      (click)="openImageModal(imagen.RutaImagen)">
                  </slide>
                </carousel>
              </ng-container>
  
              <!-- Modal -->
              <div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()" (keydown.escape)="closeModal()"
                tabindex="0">
                <!--  <div class="modal-content" (click)="$event.stopPropagation()">-->
                <div class="fullscreen" (click)="$event.stopPropagation()">
                  <img [src]="urlBlob + selectedImage" alt="Imagen grande" class="img-large">
                  <button class="close-btn" (click)="closeModal()">X</button>
                </div>
              </div>
  
  
  
  
  
  
              <ng-template #noImagen>
  
                <carousel [interval]="carouselInterval" [activeSlide]="activeSlideIndex"
                  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" (click)="pauseCarouselTemporarily()"
                  class="img-fluid">
  
                  <img src="https://backend.vecinoemprende.com/Imagenes/SinImagen.png" class="img-fluid"
                    style="max-width: 100%; height: auto;">
  
                </carousel>
  
  
              </ng-template>
  
  
  
  
            </div>
  
            <div class="col-lg-7">
              <br>
              <br>
              <div class="row">
                <div class="col-lg-3" style="display: flex; justify-content: flex-start; align-items: center;">
                  <i class="fas fa-eye" style="margin-right: 8px; font-size: 1.2rem;"></i>
  
                  <label class="label" style="margin: 0;">
                    {{ numeroVistas === 0 ? 'Sin vistas' : (numeroVistas === 1 ? '1 Visualización' :
                    numeroVistas + ' vistas') }}
                  </label>
  
                </div>
  
                <div class="col-lg-9"
                  style="display: flex; justify-content: flex-end; align-items: center; text-align: right;">
                  <!-- Mostrar label y estrellas solo si puntuacionPublicacion > 0 -->
                  <ng-container *ngIf="puntuacionPublicacion > 0; else sinPuntuacion">
                    <label class="label" style="margin: 0;">
                      Puntuación
                    </label>
                    <!-- Bucle para generar estrellas dinámicamente -->
                    <ng-container *ngFor="let star of [].constructor(puntuacionPublicacion); let i = index">
                      <i class="fa fa-star" aria-hidden="true"
                        style="margin-left: 8px; margin-right: 8px; font-size: 1.2rem; color: gold;"></i>
                    </ng-container>
                  </ng-container>
  
                  <!-- Plantilla alternativa cuando puntuacionPublicacion es 0 -->
                  <ng-template #sinPuntuacion style="margin-left: 8px; margin-right: 8px; font-size: 1.2rem;">
                    No hay puntuaciones para esta publicación
                  </ng-template>
                </div>
  
  
              </div>
  
              <br>
              <div class="resumenPublicacion">
  
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Id Publicación:</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: justify; align-items: left;">
                    {{selectedHouse?.FechaCreacion | date: 'yyyyMMdd'}}{{selectedHouse.PublicacionID}}
                  </div>
  
                </div>
  
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Categoría :</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: justify; align-items: left;">
                    <div style="text-align: justify;">
                      {{ selectedHouse?.NombreCategoria }} - {{ selectedHouse?.NombreSubcategoria }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Título:</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: justify; align-items: left;">
                    <div style="text-align: justify;">
                      {{ selectedHouse?.Titulo }}
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: flex-start; align-items: flex-start;">
                    <label class="labeld">Descripción:</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: flex-start; align-items: flex-start;">
                    <div style="text-align: justify; ">
                      {{ paddedDescription }}
                      <a *ngIf="selectedHouse?.Descripcion?.length > 200" href="javascript:void(0);" (click)="openPopup()"
                        style="color: blue; text-decoration: underline;">
                        Ver más
                      </a>
                    </div>
                  </div>
                </div>
  
                <!-- Popup -->
                <dx-popup *ngIf="showPopup && !isMobileDevice" [visible]="showPopup" (onHiding)="closePopup()"
                  title="Descripción Completa" width="50%" height="80%" [showCloseButton]="true" [showTitle]="true">
                  <div *dxTemplate="let data of 'content'" class="popup-content">
                    <p style="white-space: pre-wrap;">{{ selectedHouse?.Descripcion?.trim() }}</p>
                  </div>
                </dx-popup>
  
                <dx-popup *ngIf="showPopup && isMobileDevice" [visible]="showPopup" (onHiding)="closePopup()"
                  title="Descripción Completa" width="100%" height="100%" [showCloseButton]="true" [showTitle]="true">
                  <div *dxTemplate="let data of 'content'" class="popup-content">
                    <p style="white-space: pre-wrap;">{{ selectedHouse?.Descripcion?.trim() }}</p>
                  </div>
                </dx-popup>
  
  
                <div class="row" *ngIf="selectedHouse.MostrarUrlSitioWeb">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Sitio Web:</label>
                  </div>
                  <div class="col-lg-9"
                    style="display: flex; justify-content: justify; align-items: left; color: blue; text-decoration: underline;">
                    {{ selectedHouse.MostrarUrlSitioWeb  }}
  
                  </div>
  
                </div>
                
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Valor:</label>
                  </div>
                  <div class="col-lg-9"
                    style="display: flex; justify-content: justify; align-items: left; color: darkorange;">
                    {{ selectedHouse.MostrarValorProductoServicio === true ?
                    formatCurrency(selectedHouse.ValorProductoServicio) : 'No especificado' }}
  
                  </div>
  
                </div>
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Url Búsqueda:</label>
                  </div>
                  <div class="col-lg-8"
                    style="display: flex; justify-content: justify; align-items: left; color: blue; text-decoration: underline;">
                    {{ selectedHouse.UrlPublicacion }}
  
                  </div>
                  <div class="col-lg-1 text-end">
                    <!-- Ícono de copiar -->
                    <i class="fa fa-copy"
                       style="cursor: pointer; color: #007bff;"
                       title="Copiar URL"
                       (click)="copyToClipboard(selectedHouse.UrlPublicacion)"></i>
                </div>
  
                </div>
                <br>
                <a href="javascript:void(0)" (click)="toggleValorarPublicacion()" *ngIf="displayEnlaceValorarPublicacion">
                  <span style="font-size: small;">Puntuar esta publicación</span>
                </a>
  
                <div class="resumenPublicacion" *ngIf="displayValorarPublicacion">
                  <div id="rating-stars" style="display: flex; justify-content: flex-start; align-items: center;">
                    <label class="label" style="margin: 0;">
                      Marque una estrella (1-5)
                    </label>
  
  
                    <!-- Bucle para generar estrellas dinámicamente como botones -->
                    <button *ngIf="displaybotondorado1" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(1)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde1" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(6)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado2" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(2)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde2" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(7)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado3" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(3)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde3" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(8)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado4" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(4)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde4" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(9)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado5" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(5)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde5" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(10)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-10" style="align-items: center;">
                      <form name="myForm">
                        <div class="form-group">
                          <dx-text-area placeholder="Ingresar comentario de la publicación"
                            [(ngModel)]="puntuacionPublicacionObj.Comentario" [ngModelOptions]="{standalone: true}"
                            [maxLength]="200" (input)="onDescripcionChange($event)">
                          </dx-text-area>
                          <!-- Mostrar el número de caracteres restantes -->
                          <div class="text-left">
                            <small>{{ 200 - puntuacionPublicacionObj.Comentario.length }} caracteres restantes</small>
                          </div>
                        </div>
                      </form>
                    </div>
  
                    <div class="col-lg-2" style="display: flex; align-items: center; justify-content: center;">
                      <dx-button type="normal" stylingMode="contained" text="Contained"
                        (onClick)="guardarComentario();">Enviar
                      </dx-button>
                    </div>
                  </div>
  
                </div>
  
              </div>
            </div>
            <br>
            <br>
  
          </div>
  
  
          <div class="row">
            <div class="col-lg-5">
              <br>
              <br>
              <div class="image-gallery-container">
                <!-- Botón Retroceder -->
                <div class="col-lg-1">
                  <button class="pagination-button left" (click)="prevPage()" [disabled]="currentPage === 0">
                    <i class="fa fa-chevron-left"></i> <!-- Icono de FontAwesome -->
                  </button>
                </div>
                <div class="col-lg-10">
                  <!-- Galería de imágenes -->
                  <div class="image-gallery">
                    <div class="image-cell" *ngFor="let imagen of paginatedImages; let i = index"
                      (click)="selectImage(i)">
                      <img [src]="urlBlob + imagen.RutaImagen" alt="{{ imagen.RutaImagen }}"
                        style="border: 1px solid black;">
                    </div>
                  </div>
                </div>
  
                <div class="col-lg-1">
                  <!-- Botón Avanzar -->
                  <button class="pagination-button right" (click)="nextPage()"
                    [disabled]="(currentPage + 1) * imagesPerPage >= selectListaImagenesPublicacion.length">
                    <i class="fa fa-chevron-right"></i> <!-- Icono de FontAwesome -->
                  </button>
                </div>
              </div>
  
              <br>
              <br>
  
  
  
  
  
  
  
  
            </div>
            <div class="col-lg-7">
  
  
              <div class="resumenCosto" style="display: flex; flex-wrap: wrap;"
     *ngIf="!(selectedHouse.TelefonoCelular === '3105853786' || selectedHouse.CorreoElectronico?.endsWith('yopmail.com'))">

                <div style="flex: 1;">
                  <legend>Información de Contacto</legend> <!-- Título del fieldset -->
  
                  <div class="row">
                    <div class="col-lg-12"
                      style="display: flex; justify-content: flex-end; align-items: center; text-align: center;margin-right: 8px;">
                      <!-- Mostrar valoración solo si puntuacionPublicacion es mayor a 0 -->
                      <ng-container *ngIf="puntuacionVendedor> 0; else sinPuntuacionVendedor">
                        <label class="label" style="margin: 0;">
                          Puntuación
                        </label>
                        <!-- Bucle para generar estrellas dinámicamente -->
                        <ng-container *ngFor="let star of [].constructor(puntuacionVendedor); let i = index">
                          <i class="fa fa-star" aria-hidden="true"
                            style="margin-left: 8px; margin-right: 8px; font-size: 1.2rem; color: gold;"></i>
                        </ng-container>
                      </ng-container>
  
                      <!-- Plantilla alternativa cuando puntuacionPublicacion es 0 -->
                      <ng-template #sinPuntuacionVendedor>
                        <label class="label"
                          style="display: flex; justify-content: flex-end; align-items: center; text-align: center;margin-right: 8px;">
                          No hay puntuaciones para el anunciante
                        </label>
  
                      </ng-template>
                    </div>
                  </div>
  
  
                  <br>
  
                  <div class="row">
                    <!-- Columna de la izquierda: Anunciante, Teléfono, y Email -->
                    <div class="col-lg-8">
                      <!-- Fila de Anunciante -->
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-start align-items-center">
                          <label class="labeld">Anunciante:</label>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-start align-items-center">
                          {{
                          selectedHouse?.RazonSocial ? selectedHouse.RazonSocial :
                          selectedHouse?.NombreSocial ? selectedHouse.NombreSocial :
                          selectedHouse?.Nombre
                          }}
                        </div>
                      </div>
  
                      <!-- Fila de Teléfono -->
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-start align-items-center">
                          <label class="labeld">Teléfono:</label>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-start align-items-center">
                          {{ selectedHouse?.TelefonoCelular }}
                          <a *ngIf="selectedHouse?.TelefonoCelular"
                            [href]="'https://wa.me/' + selectedHouse?.TelefonoCelular + '?text=Contacto%20a%20trav%C3%A9s%20de%20VecinoEmprende.com.%20Est%C3%A1n%20interesados%20en%20su%20producto%20o%20servicio'"
                            target="_blank" style="margin-left: 10px; color: #25D366;">
                            <i class="fab fa-whatsapp fa-2x"></i>
                          </a>
                        </div>
                      </div>
  
                      <!-- Fila de Email -->
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-start align-items-center">
                          <label class="labeld">Email:</label>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-start align-items-center">
                          {{ selectedHouse?.CorreoElectronico }}
                        </div>
                      </div>
                    </div>
  
                    <!-- Columna de la derecha: Imagen que ocupa las tres filas -->
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                      <img [src]="urlBlob + selectedHouse?.ImagenUsuario" alt="{{ selectedHouse?.ImagenUsuario }}"
                        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 150px; height: 150px;">
                    </div>
                  </div>
  
  
  
  
                  <br>
                  <a href="javascript:void(0)" (click)="toggleValorarAnunciante()" *ngIf="displayEnlaceValorarAnunciante">
                    <span style="font-size: small;">Puntuar este anunciante</span>
                  </a>
  
  
                  <div class="resumenPublicacion2" *ngIf="displayValorarAnunciante">
                    <div id="rating-stars-vend" style="display: flex; justify-content: flex-start; align-items: center;">
                      <label class="label" style="margin: 0;">
                        Marque una estrella (1-5)
                      </label>
  
  
                      <!-- Bucle para generar estrellas dinámicamente como botones -->
                      <button *ngIf="displaybotondoradovend1" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(1)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend1" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(6)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend2" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(2)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend2" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(7)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend3" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(3)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend3" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(8)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend4" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(4)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend4" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(9)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend5" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(5)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend5" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(10)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-10" style="align-items: center;">
                        <form name="myForm">
                          <div class="form-group">
                            <dx-text-area placeholder="Ingresar comentario acerca del anunciante"
                              [(ngModel)]="puntuacionVendedorObj.Comentario" [ngModelOptions]="{standalone: true}"
                              [maxLength]="200" (input)="onDescripcionChangeVendedor($event)">
                            </dx-text-area>
                            <!-- Mostrar el número de caracteres restantes -->
                            <div class="text-left">
                              <small>{{ 200 - puntuacionVendedorObj.Comentario.length }} caracteres
                                restantes</small>
                            </div>
                          </div>
                        </form>
                      </div>
  
                      <div class="col-lg-2" style="display: flex; align-items: center; justify-content: center;">
                        <dx-button type="normal" stylingMode="contained" text="Contained"
                          (onClick)="guardarComentarioVendedor();">Enviar
                        </dx-button>
                      </div>
                    </div>
  
                  </div>
  
  
  
  
  
                </div>
  
                <!-- Columna de la imagen -->
  
              </div>
            </div>
  
          </div>
          <br>
  
          <div class="row">
            <div class="col-lg-5" >
              <app-video-item [video]="selectedHouse?.RutaVideo" *ngIf="selectedHouse?.RutaVideo !== null"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </app-video-item>
            </div>
  
            <div class="col-lg-7" *ngIf="!isMobileDevice">
              <dx-tab-panel #tabPanel [height]="260" [selectedIndex]="0" [loop]="false" [animationEnabled]="true"
                [swipeEnabled]="true" [swipeEnabled]="true">
                <!-- Primera Pestaña -->
                <dxi-item title="Comentarios sobre la Publicación">
                  <div class="tabpanel-item">
                    <div class="resumenPublicacion" style="display: flex; flex-wrap: wrap;">
                      <div style="flex: 1;">
  
  
                        <div class="comments-container">
                          <div class="comments-list"
                            [ngStyle]="{'height': showAllComments ? 'auto' : '200px', 'overflow-y': 'auto'}">
  
                            <!-- Mostrar mensaje si no hay comentarios -->
                            <div *ngIf="visibleComments.length === 0" class="no-comments-message">
                              No hay comentarios por el momento
                            </div>
  
                            <!-- Mostrar lista de comentarios si existen -->
                            <div *ngFor="let comment of visibleComments" class="comment">
                              <div class="comment-header">
                                <span class="usuario">{{ comment.usuario }}</span>
                                <span class="stars">
                                  <ng-container *ngFor="let star of [].constructor(comment.stars)">
                                    ★
                                  </ng-container>
                                </span>
                                <span class="date">{{ comment.date | date: 'dd/MM/yyyy' }}</span>
                              </div>
                              <div class="comment-text">
                                {{ comment.text }}
                              </div>
                            </div>
                          </div>
  
  
                          <!-- Botones para ordenar comentarios -->
                          <div *ngIf="comments.length > 0" class="sort-buttons">
                            <button (click)="filterComments('positive')" class="button button-positive">👍
                              Positivos</button>
                            <button (click)="filterComments('negative')" class="button button-negative">👎
                              Negativos</button>
                          </div>
  
  
                        </div>
                      </div>
                    </div>
  
                  </div>
                </dxi-item>
  
                <!-- Segunda Pestaña -->
                <dxi-item title="Comentarios sobre el Anunciante">
                  <div class="tabpanel-item">
  
                    <div class="resumenPublicacion" style="display: flex; flex-wrap: wrap;">
                      <div style="flex: 1;">
  
  
                        <div class="comments-container">
                          <div class="comments-list"
                            [ngStyle]="{'height': showAllCommentsAnunciante ? 'auto' : '200px', 'overflow-y': 'auto'}">
  
                            <!-- Mostrar mensaje si no hay comentarios -->
                            <div *ngIf="visibleCommentsAnunciante.length === 0" class="no-comments-message">
                              No hay comentarios por el momento
                            </div>
  
                            <!-- Mostrar lista de comentarios si existen -->
                            <div *ngFor="let comment of visibleCommentsAnunciante" class="comment">
                              <div class="comment-header">
                                <span class="usuario">{{ comment.usuario }}</span>
                                <span class="stars">
                                  <ng-container *ngFor="let star of [].constructor(comment.stars)">
                                    ★
                                  </ng-container>
                                </span>
                                <span class="date">{{ comment.date | date: 'dd/MM/yyyy' }}</span>
                              </div>
                              <div class="comment-text">
                                {{ comment.text }}
                              </div>
                            </div>
                          </div>
  
  
                          <!-- Botones para ordenar comentarios -->
                          <div *ngIf="comments.length > 0" class="sort-buttons">
                            <button (click)="filterCommentsAnunciante('positive')" class="button button-positive">👍
                              Positivos</button>
                            <button (click)="filterCommentsAnunciante('negative')" class="button button-negative">👎
                              Negativos</button>
                          </div>
  
                        </div>
                      </div>
                    </div>
  
                  </div>
                </dxi-item>
  
  
              </dx-tab-panel>
  
  
  
  
  
            </div>
            <div class="col-lg-7" *ngIf="isMobileDevice">
              <legend>Comentarios</legend> <!-- Título del fieldset -->
              <dx-tab-panel #tabPanel [height]="260" [selectedIndex]="0" [loop]="false" [animationEnabled]="true"
                [swipeEnabled]="true" [swipeEnabled]="true">
                <!-- Primera Pestaña -->
                <dxi-item title="Publicación">
                  <div class="tabpanel-item">
                    <div class="resumenPublicacion" style="display: flex; flex-wrap: wrap;">
                      <div style="flex: 1;">
  
  
                        <div class="comments-container">
                          <div class="comments-list"
                            [ngStyle]="{'height': showAllComments ? 'auto' : '200px', 'overflow-y': 'auto'}">
  
                            <!-- Mostrar mensaje si no hay comentarios -->
                            <div *ngIf="visibleComments.length === 0" class="no-comments-message">
                              No hay comentarios por el momento
                            </div>
  
                            <!-- Mostrar lista de comentarios si existen -->
                            <div *ngFor="let comment of visibleComments" class="comment">
                              <div class="comment-header">
                                <span class="usuario">{{ comment.usuario }}</span>
                                <span class="stars">
                                  <ng-container *ngFor="let star of [].constructor(comment.stars)">
                                    ★
                                  </ng-container>
                                </span>
                                <span class="date">{{ comment.date | date: 'dd/MM/yyyy' }}</span>
                              </div>
                              <div class="comment-text">
                                {{ comment.text }}
                              </div>
                            </div>
                          </div>
  
  
                          <!-- Botones para ordenar comentarios -->
                          <div *ngIf="comments.length > 0" class="sort-buttons">
                            <button (click)="filterComments('positive')" class="button button-positive">👍
                              Positivos</button>
                            <button (click)="filterComments('negative')" class="button button-negative">👎
                              Negativos</button>
                          </div>
  
  
                        </div>
                      </div>
                    </div>
  
                  </div>
                </dxi-item>
  
                <!-- Segunda Pestaña -->
                <dxi-item title="Anunciante">
                  <div class="tabpanel-item">
  
                    <div class="resumenPublicacion" style="display: flex; flex-wrap: wrap;">
                      <div style="flex: 1;">
  
  
                        <div class="comments-container">
                          <div class="comments-list"
                            [ngStyle]="{'height': showAllCommentsAnunciante ? 'auto' : '200px', 'overflow-y': 'auto'}">
  
                            <!-- Mostrar mensaje si no hay comentarios -->
                            <div *ngIf="visibleCommentsAnunciante.length === 0" class="no-comments-message">
                              No hay comentarios por el momento
                            </div>
  
                            <!-- Mostrar lista de comentarios si existen -->
                            <div *ngFor="let comment of visibleCommentsAnunciante" class="comment">
                              <div class="comment-header">
                                <span class="usuario">{{ comment.usuario }}</span>
                                <span class="stars">
                                  <ng-container *ngFor="let star of [].constructor(comment.stars)">
                                    ★
                                  </ng-container>
                                </span>
                                <span class="date">{{ comment.date | date: 'dd/MM/yyyy' }}</span>
                              </div>
                              <div class="comment-text">
                                {{ comment.text }}
                              </div>
                            </div>
                          </div>
  
  
                          <!-- Botones para ordenar comentarios -->
                          <div *ngIf="comments.length > 0" class="sort-buttons">
                            <button (click)="filterCommentsAnunciante('positive')" class="button button-positive">👍
                              Positivos</button>
                            <button (click)="filterCommentsAnunciante('negative')" class="button button-negative">👎
                              Negativos</button>
                          </div>
  
                        </div>
                      </div>
                    </div>
  
                  </div>
                </dxi-item>
  
  
              </dx-tab-panel>
  
  
  
  
  
            </div>
  
  
          </div>
  
  
          <!--aqui-->
  
  
  
          <div class="col-3">
          </div>
  
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
  
  
  
          </div>
  
        </div>
  
        <div class="popup-content" *ngIf="isMobileDevice">
          <div class="row">
            <!-- Fila 1: Carrusel y Galería -->
            <div class="col-lg-12" style="display: flex; justify-content: center; align-items: center;">
              <!-- Columna 1: Carrusel de Imágenes -->
  
  
              <!-- Carrusel -->
              <ng-container *ngIf="selectListaImagenesPublicacion?.length > 0; else noImagen">
                <carousel [interval]="carouselInterval" [activeSlide]="activeSlideIndex"
                  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" (click)="pauseCarouselTemporarily()"
                  class="img-fluid">
                  <slide *ngFor="let imagen of paginatedImages; let i = index">
                    <img [src]="urlBlob + imagen.RutaImagen" alt="{{ imagen.RutaImagen }}" class="img-fluid"
                      (click)="openImageModal(imagen.RutaImagen)">
                  </slide>
                </carousel>
              </ng-container>
  
              <!-- Modal -->
              <div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()" (keydown.escape)="closeModal()"
                tabindex="0">
                <!--  <div class="modal-content" (click)="$event.stopPropagation()">-->
                <div class="fullscreen" (click)="$event.stopPropagation()">
                  <img [src]="urlBlob + selectedImage" alt="Imagen grande" class="img-large">
                  <button class="close-btn" (click)="closeModal()">X</button>
                </div>
              </div>
  
              <ng-template #noImagen>
  
                <carousel [interval]="carouselInterval" [activeSlide]="activeSlideIndex"
                  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" (click)="pauseCarouselTemporarily()"
                  class="img-fluid">
  
                  <img src="https://backend.vecinoemprende.com/Imagenes/SinImagen.png" class="img-fluid"
                    style="max-width: 100%; height: auto;">
  
                </carousel>
              </ng-template>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <button class="pagination-button left" (click)="prevPage()" [disabled]="currentPage === 0">
                <i class="fa fa-chevron-left"></i> <!-- Icono de FontAwesome -->
              </button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
                
                  <!-- Galería de imágenes -->
                  <div class="image-gallerymovil">
                    <div class="image-cellmovil" *ngFor="let imagen of paginatedImages; let i = index"
                      (click)="selectImage(i)">
                      <img [src]="urlBlob + imagen.RutaImagen" alt="{{ imagen.RutaImagen }}"
                        style="border: 1px solid black;">
                    </div>
                  </div>
               
  
               
        
            </div>
          </div>
          <br>
  
          <div class="row">
            <div class="col-lg-12">
              <!-- Botón Avanzar -->
              <button class="pagination-button right" (click)="nextPage()"
                [disabled]="(currentPage + 1) * imagesPerPage >= selectListaImagenesPublicacion.length">
                <i class="fa fa-chevron-right"></i> <!-- Icono de FontAwesome -->
              </button>
            </div>
          </div>
  
  
          <br>
          <br>
  
          <div class="row">
            <div class="col-lg-12">
              <app-video-item [video]="selectedHouse?.RutaVideo" *ngIf="selectedHouse?.RutaVideo !== null"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </app-video-item>
            </div>
          </div>
  
          <div class="row">
            <div class="col-lg-12">
              <br>
              <br>
              <div class="row">
                <div class="col-lg-3" style="display: flex; justify-content: flex-start; align-items: center;">
                  <i class="fas fa-eye" style="margin-right: 8px; font-size: 1.2rem;"></i>
  
                  <label class="label" style="margin: 0;">
                    {{ numeroVistas === 0 ? 'Sin vistas' : (numeroVistas === 1 ? '1 Visualización' :
                    numeroVistas + ' vistas') }}
                  </label>
  
                </div>
  
                <div class="col-lg-9"
                  style="display: flex; justify-content: flex-end; align-items: center; text-align: right;">
                  <!-- Mostrar label y estrellas solo si puntuacionPublicacion > 0 -->
                  <ng-container *ngIf="puntuacionPublicacion > 0; else sinPuntuacion">
                    <label class="label" style="margin: 0;">
                      Puntuación
                    </label>
                    <!-- Bucle para generar estrellas dinámicamente -->
                    <ng-container *ngFor="let star of [].constructor(puntuacionPublicacion); let i = index">
                      <i class="fa fa-star" aria-hidden="true"
                        style="margin-left: 8px; margin-right: 8px; font-size: 1.2rem; color: gold;"></i>
                    </ng-container>
                  </ng-container>
  
                  <!-- Plantilla alternativa cuando puntuacionPublicacion es 0 -->
                  <ng-template #sinPuntuacion style="margin-left: 8px; margin-right: 8px; font-size: 1.2rem;">
                    No hay puntuaciones para esta publicación
                  </ng-template>
                </div>
  
  
              </div>
  
              <br>
              <div class="resumenPublicacion">
  
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Id Publicación:</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: justify; align-items: left;">
                    {{selectedHouse?.FechaCreacion | date: 'yyyyMMdd'}}{{selectedHouse.PublicacionID}}
                  </div>
  
                </div>
  
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Categoría :</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: justify; align-items: left;">
                    <div style="text-align: justify;">
                      {{ selectedHouse?.NombreCategoria }} - {{ selectedHouse?.NombreSubcategoria }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Título:</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: justify; align-items: left;">
                    <div style="text-align: justify;">
                      {{ selectedHouse?.Titulo }}
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: flex-start; align-items: flex-start;">
                    <label class="labeld">Descripción:</label>
                  </div>
                  <div class="col-lg-9" style="display: flex; justify-content: flex-start; align-items: flex-start;">
                    <div style="text-align: justify; white-space: pre-wrap;">
                      {{ paddedDescription }}
                      <a *ngIf="selectedHouse?.Descripcion?.length > 200" href="javascript:void(0);" (click)="openPopup()"
                        style="color: blue; text-decoration: underline;">
                        Ver más
                      </a>
                    </div>
                  </div>
                </div>
  
                <!-- Popup -->
                <dx-popup *ngIf="showPopup && isMobileDevice" [visible]="showPopup" (onHiding)="closePopup()"
                  title="Descripción Completa" width="100%" height="100%" [showCloseButton]="true" [showTitle]="true">
                  <div *dxTemplate="let data of 'content'" class="popup-content">
                    <p style="white-space: wrap;">{{ selectedHouse?.Descripcion }}</p>
                  </div>
                </dx-popup>
  
  
                <div class="row">
                  <div class="col-lg-3" style="display: flex; justify-content: justify; align-items: left;">
                    <label class="labeld"> Valor:</label>
                  </div>
                  <div class="col-lg-9"
                    style="display: flex; justify-content: justify; align-items: left; color: darkorange;">
                    {{ selectedHouse.MostrarValorProductoServicio === true ?
                    formatCurrency(selectedHouse.ValorProductoServicio) : 'No especificado' }}
  
                  </div>
  
                </div>
                <br>
                <a href="javascript:void(0)" (click)="toggleValorarPublicacion()" *ngIf="displayEnlaceValorarPublicacion">
                  <span style="font-size: small;">Puntuar esta publicación</span>
                </a>
  
                <div class="resumenPublicacion" *ngIf="displayValorarPublicacion">
                  <div id="rating-stars" style="display: flex; justify-content: flex-start; align-items: center;">
                    <label class="label" style="margin: 0;">
                      Marque una estrella (1-5)
                    </label>
  
  
                    <!-- Bucle para generar estrellas dinámicamente como botones -->
                    <button *ngIf="displaybotondorado1" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(1)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde1" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(6)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado2" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(2)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde2" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(7)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado3" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(3)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde3" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(8)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado4" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(4)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde4" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(9)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                    <button *ngIf="displaybotondorado5" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(5)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                    </button>
                    <button *ngIf="displaybotonverde5" class="star-button"
                      style=" background: white; border: white; cursor: pointer; margin: 0 5px;" (click)="selectStar(10)">
                      <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                    </button>
  
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-10" style="align-items: center;">
                      <form name="myForm">
                        <div class="form-group">
                          <dx-text-area placeholder="Ingresar comentario de la publicación"
                            [(ngModel)]="puntuacionPublicacionObj.Comentario" [ngModelOptions]="{standalone: true}"
                            [maxLength]="200" (input)="onDescripcionChange($event)">
                          </dx-text-area>
                          <!-- Mostrar el número de caracteres restantes -->
                          <div class="text-left">
                            <small>{{ 200 - puntuacionPublicacionObj.Comentario.length }} caracteres restantes</small>
                          </div>
                        </div>
                      </form>
                    </div>
  
                    <div class="col-lg-2" style="display: flex; align-items: center; justify-content: center;">
                      <dx-button type="normal" stylingMode="contained" text="Contained"
                        (onClick)="guardarComentario();">Enviar
                      </dx-button>
                    </div>
                  </div>
  
                </div>
  
              </div>
            </div>
            <br>
            <br>
          </div>
  
  
  
  
          <div class="row">
            <div class="col-lg-12">
  
  
              <div class="resumenCosto" style="display: flex; flex-wrap: wrap;"
              *ngIf="!(selectedHouse.TelefonoCelular === '3105853786' || selectedHouse.CorreoElectronico?.endsWith('yopmail.com'))">
         
                <div style="flex: 1;">
                  <legend>Información de Contacto</legend> <!-- Título del fieldset -->
  
                  <div class="row">
                    <div class="col-lg-12"
                      style="display: flex; justify-content: flex-end; align-items: center; text-align: center;margin-right: 8px;">
                      <!-- Mostrar valoración solo si puntuacionPublicacion es mayor a 0 -->
                      <ng-container *ngIf="puntuacionVendedor> 0; else sinPuntuacionVendedor">
                        <label class="label" style="margin: 0;">
                          Puntuación
                        </label>
                        <!-- Bucle para generar estrellas dinámicamente -->
                        <ng-container *ngFor="let star of [].constructor(puntuacionVendedor); let i = index">
                          <i class="fa fa-star" aria-hidden="true"
                            style="margin-left: 8px; margin-right: 8px; font-size: 1.2rem; color: gold;"></i>
                        </ng-container>
                      </ng-container>
  
                      <!-- Plantilla alternativa cuando puntuacionPublicacion es 0 -->
                      <ng-template #sinPuntuacionVendedor>
                        <label class="label"
                          style="display: flex; justify-content: flex-end; align-items: center; text-align: center;margin-right: 8px;">
                          No hay puntuaciones para el anunciante
                        </label>
  
                      </ng-template>
                    </div>
                  </div>
  
  
                  <br>
  
                  <div class="row">
                    <!-- Columna de la izquierda: Anunciante, Teléfono, y Email -->
                    <div class="col-lg-8">
                      <!-- Fila de Anunciante -->
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-start align-items-center">
                          <label class="labeld">Anunciante:</label>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-start align-items-center">
                          {{
                          selectedHouse?.RazonSocial ? selectedHouse.RazonSocial :
                          selectedHouse?.NombreSocial ? selectedHouse.NombreSocial :
                          selectedHouse?.Nombre
                          }}
                        </div>
                      </div>
  
                      <!-- Fila de Teléfono -->
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-start align-items-center">
                          <label class="labeld">Teléfono:</label>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-start align-items-center">
                          {{ selectedHouse?.TelefonoCelular }}
                          <a *ngIf="selectedHouse?.TelefonoCelular"
                            [href]="'https://wa.me/' + selectedHouse?.TelefonoCelular + '?text=Contacto%20a%20trav%C3%A9s%20de%20VecinoEmprende.com.%20Est%C3%A1n%20interesados%20en%20su%20producto%20o%20servicio'"
                            target="_blank" style="margin-left: 10px; color: #25D366;">
                            <i class="fab fa-whatsapp fa-2x"></i>
                          </a>
                        </div>
                      </div>
  
                      <!-- Fila de Email -->
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-start align-items-center">
                          <label class="labeld">Email:</label>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-start align-items-center">
                          {{ selectedHouse?.CorreoElectronico }}
                        </div>
                      </div>
                    </div>
  
                    <!-- Columna de la derecha: Imagen que ocupa las tres filas -->
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                      <img [src]="urlBlob + selectedHouse?.ImagenUsuario" alt="{{ selectedHouse?.ImagenUsuario }}"
                        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 150px; height: 150px;">
                    </div>
                  </div>
  
                  <br>
                  <a href="javascript:void(0)" (click)="toggleValorarAnunciante()" *ngIf="displayEnlaceValorarAnunciante">
                    <span style="font-size: small;">Puntuar este anunciante</span>
                  </a>
  
  
                  <div class="resumenPublicacion2" *ngIf="displayValorarAnunciante">
                    <div id="rating-stars-vend" style="display: flex; justify-content: flex-start; align-items: center;">
                      <label class="label" style="margin: 0;">
                        Marque una estrella (1-5)
                      </label>
  
  
                      <!-- Bucle para generar estrellas dinámicamente como botones -->
                      <button *ngIf="displaybotondoradovend1" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(1)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend1" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(6)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend2" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(2)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend2" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(7)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend3" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(3)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend3" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(8)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend4" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(4)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend4" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(9)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                      <button *ngIf="displaybotondoradovend5" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(5)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: lightgray"></i>
                      </button>
                      <button *ngIf="displaybotonverdevend5" class="star-buttonvend"
                        style=" background: white; border: white; cursor: pointer; margin: 0 5px;"
                        (click)="selectStarvend(10)">
                        <i class="fa fa-star" aria-hidden="true" style="font-size: 1.2rem;color: gold;"></i>
                      </button>
  
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-10" style="align-items: center;">
                        <form name="myForm">
                          <div class="form-group">
                            <dx-text-area placeholder="Ingresar comentario acerca del anunciante"
                              [(ngModel)]="puntuacionVendedorObj.Comentario" [ngModelOptions]="{standalone: true}"
                              [maxLength]="200" (input)="onDescripcionChangeVendedor($event)">
                            </dx-text-area>
                            <!-- Mostrar el número de caracteres restantes -->
                            <div class="text-left">
                              <small>{{ 200 - puntuacionVendedorObj.Comentario.length }} caracteres
                                restantes</small>
                            </div>
                          </div>
                        </form>
                      </div>
  
                      <div class="col-lg-2" style="display: flex; align-items: center; justify-content: center;">
                        <dx-button type="normal" stylingMode="contained" text="Contained"
                          (onClick)="guardarComentarioVendedor();">Enviar
                        </dx-button>
                      </div>
                    </div>
  
                  </div>
  
                </div>
  
                <!-- Columna de la imagen -->
  
              </div>
            </div>
  
          </div>
  
          <br>
  
  
  
          <div class="row">
            <div class="col-lg-12">
              <legend>Comentarios</legend> <!-- Título del fieldset -->
              <dx-tab-panel #tabPanel [height]="260" [selectedIndex]="0" [loop]="false" [animationEnabled]="true"
                [swipeEnabled]="true" [swipeEnabled]="true">
                <!-- Primera Pestaña -->
                <dxi-item title="Publicación">
                  <div class="tabpanel-item">
                    <div class="resumenPublicacion" style="display: flex; flex-wrap: wrap;">
                      <div style="flex: 1;">
  
  
                        <div class="comments-container">
                          <div class="comments-list"
                            [ngStyle]="{'height': showAllComments ? 'auto' : '200px', 'overflow-y': 'auto'}">
  
                            <!-- Mostrar mensaje si no hay comentarios -->
                            <div *ngIf="visibleComments.length === 0" class="no-comments-message">
                              No hay comentarios por el momento
                            </div>
  
                            <!-- Mostrar lista de comentarios si existen -->
                            <div *ngFor="let comment of visibleComments" class="comment">
                              <div class="comment-header">
                                <span class="usuario">{{ comment.usuario }}</span>
                                <span class="stars">
                                  <ng-container *ngFor="let star of [].constructor(comment.stars)">
                                    ★
                                  </ng-container>
                                </span>
                                <span class="date">{{ comment.date | date: 'dd/MM/yyyy' }}</span>
                              </div>
                              <div class="comment-text">
                                {{ comment.text }}
                              </div>
                            </div>
                          </div>
  
  
                          <!-- Botones para ordenar comentarios -->
                          <div *ngIf="comments.length > 0" class="sort-buttons">
                            <button (click)="filterComments('positive')" class="button button-positive">👍
                              Positivos</button>
                            <button (click)="filterComments('negative')" class="button button-negative">👎
                              Negativos</button>
                          </div>
  
  
                        </div>
                      </div>
                    </div>
  
                  </div>
                </dxi-item>
  
                <!-- Segunda Pestaña -->
                <dxi-item title="Anunciante">
                  <div class="tabpanel-item">
  
                    <div class="resumenPublicacion" style="display: flex; flex-wrap: wrap;">
                      <div style="flex: 1;">
  
  
                        <div class="comments-container">
                          <div class="comments-list"
                            [ngStyle]="{'height': showAllCommentsAnunciante ? 'auto' : '200px', 'overflow-y': 'auto'}">
  
                            <!-- Mostrar mensaje si no hay comentarios -->
                            <div *ngIf="visibleCommentsAnunciante.length === 0" class="no-comments-message">
                              No hay comentarios por el momento
                            </div>
  
                            <!-- Mostrar lista de comentarios si existen -->
                            <div *ngFor="let comment of visibleCommentsAnunciante" class="comment">
                              <div class="comment-header">
                                <span class="usuario">{{ comment.usuario }}</span>
                                <span class="stars">
                                  <ng-container *ngFor="let star of [].constructor(comment.stars)">
                                    ★
                                  </ng-container>
                                </span>
                                <span class="date">{{ comment.date | date: 'dd/MM/yyyy' }}</span>
                              </div>
                              <div class="comment-text">
                                {{ comment.text }}
                              </div>
                            </div>
                          </div>
  
  
                          <!-- Botones para ordenar comentarios -->
                          <div *ngIf="comments.length > 0" class="sort-buttons">
                            <button (click)="filterCommentsAnunciante('positive')" class="button button-positive">👍
                              Positivos</button>
                            <button (click)="filterCommentsAnunciante('negative')" class="button button-negative">👎
                              Negativos</button>
                          </div>
  
                        </div>
                      </div>
                    </div>
  
                  </div>
                </dxi-item>
              </dx-tab-panel>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  
    <div class="modal-footer">
  
      <dx-button type="normal" stylingMode="contained" text="Cerrar" (onClick)="cerrarModales();">
      </dx-button>
    </div>
    <br>
    <br>
  
  
  
  </ng-template>