

  ::ng-deep .selected-data,
::ng-deep .options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .selected-data .caption {
  font-weight: bold;
  font-size: 115%;
}

::ng-deep .options .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .option {
  margin-top: 10px;
}

::ng-deep .option > span {
  width: 120px;
  display: inline-block;
}

::ng-deep .option > .dx-widget {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 350px;
}





::ng-deep .modal-dialog-centered {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  top : 20px;

}

.mensajePago {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 20px;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  top : 20px;


}


::ng-deep .modal-dialog-centered-message {
  max-width: 50%;
  width: 50%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
 // top : 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

::ng-deep .superior {
  max-width: 90%;
  width: 90%;
  height: 100%;
  margin: 5px;
  padding: 0;
  z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  }

  .dx-overlay-wrapper {
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    //z-index: 3050; 
    color: rgba(0,0,0,.87);
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto,RobotoFallback,"Noto Kufi Arabic",Helvetica,Arial,sans-serif;
    line-height: 1.2857;
    z-index: 1501;
    position: absolute;
    width: 336.953px;
    height: 48px;
    left: 0px;
    top: 0px;
    transform: translate(102px, 503px);
    transition: all 0s ease 0s;
    overflow: visible;
}





::ng-deep .modal-dialog-centered.modal-fullscreen {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;

  
}

::ng-deep .mymap {
  height: 200px;
  width: 400px;
}

::ng-deep .mymapmodal {
  height: 200px;
  width: 400px;
}

::ng-deep .detailcaso{
  border: 2px solid black;
}

.textomodal
{
  font-size: small; overflow: auto; text-overflow: ellipsis; white-space: normal; background-color: transparent; border: none; color: black;
}



.left {
  flex-basis: 70%;
  padding-right: 10px;
}

.right {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

.left2 {
  flex-basis: 70%;
  padding-right: 10px;
}

.right2 {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

::ng-deep .container {
  display: flex;
  max-width: 100%;
}

::ng-deep .content-block2 {
/*  width: 48%;*/
  margin: 1%;
}


//Para el Radio Button
::ng-deep .low .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: gray;
}

::ng-deep .normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: green;
}

::ng-deep .urgent .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: orange;
}

::ng-deep .high .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: red;
}

::ng-deep #radio-group-with-selection {
  margin-bottom: 10px;
}

::ng-deep #tasks-list {
  margin: 0 0 10px 10px;
  white-space: normal;
}

::ng-deep #list {
  margin: 10px 0 0 20px;
  padding-left: 0;
  text-align: left;
}

.textarea
{
  font-family: "Roboto"; 
  background-color: #f8f9fa; 
  border: black; 
  max-width: 100%;
  width: 100%;
  height: 90px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.resumenCosto
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;
  background-color: #F4F6F6;
  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #837272;
}

.resumenCosto2
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;
  background-color: #F4F6F6;
  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #837272;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}


.resumenPublicacion
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  vertical-align: middle;
  background-color: #F4F6F6;
  /* #E5E7E9;*/
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #837272;
}

.resumenAntesRenovacion
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  vertical-align: middle;
  background-color: #F4F6F6;
  /* #E5E7E9;*/
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #837272;
  background-color: lightgray;
  
}

.dx-datagrid-headers .dx-datagrid-text-content {
  font-weight: bold;
}



//Para galeria de fotos en detalle de publicación
/* Ajustes para el carrusel */
.carousel-container {
  max-width: 100%;
 /* padding-right: 15px;*/
 display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */
  text-shadow: #CCCCCC 0px 1px 1px; border-radius: 4px;  box-shadow: 2px 4px 4px black; -moz-border-radius: 5px;  -khtml-border-radius: 5px;  -webkit-border-radius: 5px;  background-color: #008000;  
}

.carousel-image {
  width: 100%;
  height: auto;
 /* max-height: 500px; /* Ajusta la altura máxima */
  object-fit: contain;
  border: 1;
  text-shadow: #CCCCCC 0px 1px 1px; border-radius: 4px;  box-shadow: 2px 4px 4px black; -moz-border-radius: 5px;  -khtml-border-radius: 5px;  -webkit-border-radius: 5px;  background-color: #008000;  
}

//Galeria de imagenes
.image-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 5 columnas de igual tamaño */
  gap: 10px; /* Espacio entre imágenes */
  border: 1;
}

.image-cell {
  width: 100%;
  aspect-ratio: 1/1; /* Mantiene una proporción 1:1 para que las imágenes sean cuadradas */
  overflow: hidden; /* Asegura que las imágenes no sobresalgan de su contenedor */
  border: 1;
}

.image-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio de la celda sin distorsionarse */
  border: 1;
}



//Estilos de las listas desplegables de alcance, tipo y periodo

::ng-deep .custom-disabled .dx-texteditor-input {
  background-color: linen !important; /* Color de fondo */
  color: black !important; /* Color de texto */
  font-weight: bold;
}

::ng-deep .custom-disabled .dx-dropdowneditor-icon {
  color: black!important; /* Color del icono */
}



.image-item {
  flex: 0 1 calc(33.33% - 2%); /* Cada video ocupa 1/3 del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho */
}


@media (max-width: 768px) {
  .image-item {
      flex: 1 1 100%; /* En dispositivos móviles, toma todo el ancho */
  }
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */
}

.image-item {
  flex: 0 1 calc(33.33% - 2%); /* Cada video ocupa 1/3 del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho */
}


/* Estilos por defecto */
.dx-popup {
  width: 660px;
  height: 540px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .dx-popup {
    width: 90vw; /* 90% del ancho de la ventana */
    height: 80vh; /* 80% de la altura de la ventana */
  }
}


//Para galeria de fotos en detalle de publicación

//Galeria de imagenes
.image-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 5 columnas de igual tamaño */
  gap: 10px; /* Espacio entre imágenes */
  border: 1;
}

.image-cell {
  width: 100%;
  aspect-ratio: 1/1; /* Mantiene una proporción 1:1 para que las imágenes sean cuadradas */
  overflow: hidden; /* Asegura que las imágenes no sobresalgan de su contenedor */
  border: 1;
}

.image-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio de la celda sin distorsionarse */
  border: 1;
}

::ng-deep .selected-data,
::ng-deep .options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .selected-data .caption {
  font-weight: bold;
  font-size: 115%;
}

::ng-deep .options .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .option {
  margin-top: 10px;
}

::ng-deep .option > span {
  width: 120px;
  display: inline-block;
}

::ng-deep .option > .dx-widget {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 350px;
}





//css para recuadro de imagenes y descripcion de la publicacion

::ng-deep .large-text {
  font-size: 13px;
  color: white /* #ff6a50 */
}

::ng-deep .opacity {
  opacity: 0.5;
}

::ng-deep .images {
  font-size: 0; /* Elimina el espacio blanco entre los elementos inline-block */
}

::ng-deep .images > div {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
  margin-bottom: 20px; /* Agrega espacio entre cada recuadro de imagen */
}

::ng-deep .images .item-content {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

::ng-deep .images .item-content > img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor item-content */
  display: block;
  margin: 0;
}

::ng-deep .item-content .item-options {
  margin-top: 0;
  height: 100px; /* Ajusta la altura del recuadro item-options */
  padding-top: 0px; /* Ajusta el padding según lo que necesites */
  background-color: rgba(19, 32, 51, 0.8);
  box-sizing: border-box;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  width: 100%;
}

::ng-deep .images .item-content:hover > .item-options {
  border-bottom: 2px solid #f05b41;
  border-left: 2px solid #f05b41;
  border-right: 2px solid #f05b41;
  box-shadow: inset 0 0 0 2px #f05b41;
}

::ng-deep .item-content .item-options > div {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  background-color: rgba(19, 32, 51, 0.8);
  box-sizing: border-box;
}

::ng-deep .images .item-content:hover > img {
  border: 2px solid #f05b41;
}

::ng-deep .item-content .item-options .address,
::ng-deep .item-content .item-options .price {
  max-width: 100%;
  padding-left: 8px;
}

::ng-deep .item-content .item-options .address {
  font-size: 14px;
  font-weight: bold;
  color: chartreuse;
}


//fin css para recuadro de imagenes y descripcion de la publicacion

::ng-deep .item-content .item-options .estadoaprobado {
  font-size: 12px;
  font-weight: bold;
  background-color: #4CAF50; /* Color de fondo */
  border-radius: 15px; /* Radio de las esquinas */
  padding-right: 5px; /* Espaciado interno */
  padding-left: 5px; /* Espaciado interno */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto */
  margin: 10px 0; /* Margen arriba y abajo */
  width: 150px; /* El ancho puede ajustarse según el min-width */
  min-width: 150px; /* Ancho mínimo para que no esté tan ajustado */
  display: inline-block; /* Mantiene la alineación */
 
}

::ng-deep .item-content .item-options .estadoborrador {
  font-size: 12px;
  font-weight: bold;
  background-color: darkblue; /* Color de fondo */
  border-radius: 15px; /* Radio de las esquinas */
  padding-right: 5px; /* Espaciado interno */
  padding-left: 5px; /* Espaciado interno */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto */
  margin: 10px 0; /* Margen arriba y abajo */
  width: 150px; /* El ancho puede ajustarse según el min-width */
  min-width: 150px; /* Ancho mínimo para que no esté tan ajustado */
  display: inline-block; /* Mantiene la alineación */
}



::ng-deep .item-content .item-options .estadorechazado {

  font-size: 12px;
  font-weight: bold;
  background-color:darkred; /* Color de fondo */
  border-radius: 15px; /* Radio de las esquinas */
  padding-right: 5px; /* Espaciado interno */
  padding-left: 5px; /* Espaciado interno */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto */
  margin: 10px 0; /* Margen arriba y abajo */
  width: 150px; /* El ancho puede ajustarse según el min-width */
  min-width: 150px; /* Ancho mínimo para que no esté tan ajustado */
  display: inline-block; /* Mantiene la alineación */
}

::ng-deep .item-content .item-options .estadovencido {
  font-size: 12px;
  font-weight: bold;
  background-color:darkorange; /* Color de fondo */
  border-radius: 15px; /* Radio de las esquinas */
  padding-right: 5px; /* Espaciado interno */
  padding-left: 5px; /* Espaciado interno */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto */
  margin: 10px 0; /* Margen arriba y abajo */
  width: 150px; /* El ancho puede ajustarse según el min-width */
  min-width: 150px; /* Ancho mínimo para que no esté tan ajustado */
  display: inline-block; /* Mantiene la alineación */
 
}

::ng-deep .item-content .item-options .agent {
  font-size: 12px;
  width: 60px;
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 13px;
}

::ng-deep .item-content .item-options .agent > div:hover {
  color: #f05b41;
}

::ng-deep .item-content .item-options .agent img {
  display: block;
  width: 13px;
  height: 16px;
  margin: 8px auto 2px;
}

::ng-deep .agent-details > img,
.agent-details > div {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}

::ng-deep .agent-details > img {
  width: 40px;
  margin-right: 10px;
}

::ng-deep .agent-details .phone {
  font-size: 18px;
}

::ng-deep .popup-property-details {
  overflow: hidden;
  position: relative;
}

::ng-deep .popup-property-details .images {
  width: 700px;
}

::ng-deep .popup-property-details img {
  height: 205px;
  margin: 10px 10px 10px 0;
}

::ng-deep .dx-button.favorites {
  /*background-color: #f05b41;*/
  color: #fff;
  position: absolute;
  top: 5px;
  right: 0;
}



/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .dx-popup {
    width: 90vw; /* 90% del ancho de la ventana */
    height: 80vh; /* 80% de la altura de la ventana */
  }
}


//Para galeria de fotos en detalle de publicación

//Galeria de imagenes
.image-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 5 columnas de igual tamaño */
  gap: 10px; /* Espacio entre imágenes */
  border: 1;
}

.image-cell {
  width: 100%;
  aspect-ratio: 1/1; /* Mantiene una proporción 1:1 para que las imágenes sean cuadradas */
  overflow: hidden; /* Asegura que las imágenes no sobresalgan de su contenedor */
  border: 1;
}

.image-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio de la celda sin distorsionarse */
  border: 1;
}


::ng-deep .modal-dialog-centered {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  top : 20px;

}

::ng-deep .modal-dialog-centered-message {
  max-width: 50%;
  width: 50%;
  //height: 100%;
  margin: 5px;
  padding: 0;
 z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
 // top : 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

::ng-deep .superior {
  max-width: 90%;
  width: 90%;
  height: 100%;
  margin: 5px;
  padding: 0;
  z-index: 1501;
  border: none;
  border-radius: 0;
  outline: none;
  }

  .dx-overlay-wrapper {
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    //z-index: 3050; 
    color: rgba(0,0,0,.87);
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto,RobotoFallback,"Noto Kufi Arabic",Helvetica,Arial,sans-serif;
    line-height: 1.2857;
    z-index: 1501;
    position: absolute;
    width: 336.953px;
    height: 48px;
    left: 0px;
    top: 0px;
    transform: translate(102px, 503px);
    transition: all 0s ease 0s;
    overflow: visible;
}





::ng-deep .modal-dialog-centered.modal-fullscreen {
  max-width: 100%;
  width: 100%;
  //height: 100%;
  margin: 5px;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;

  
}

::ng-deep .mymap {
  height: 200px;
  width: 400px;
}

::ng-deep .mymapmodal {
  height: 200px;
  width: 400px;
}

::ng-deep .detailcaso{
  border: 2px solid black;
}

.textomodal
{
  font-size: small; overflow: auto; text-overflow: ellipsis; white-space: normal; background-color: transparent; border: none; color: black;
}



.left {
  flex-basis: 70%;
  padding-right: 10px;
}

.right {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

.left2 {
  flex-basis: 70%;
  padding-right: 10px;
}

.right2 {
 /* flex-basis: 50%;*/
  flex-grow: 1;
  padding-left: 10px;
}

::ng-deep .container {
  display: flex;
  max-width: 100%;
}

::ng-deep .content-block2 {
/*  width: 48%;*/
  margin: 1%;
}


//Para el Radio Button
::ng-deep .low .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: gray;
}

::ng-deep .normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: green;
}

::ng-deep .urgent .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: orange;
}

::ng-deep .high .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: red;
}

::ng-deep #radio-group-with-selection {
  margin-bottom: 10px;
}

::ng-deep #tasks-list {
  margin: 0 0 10px 10px;
  white-space: normal;
}

::ng-deep #list {
  margin: 10px 0 0 20px;
  padding-left: 0;
  text-align: left;
}

.textarea
{
  font-family: "Roboto"; 
  background-color: #f8f9fa; 
  border: black; 
  max-width: 100%;
  width: 100%;
  height: 90px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.labelbusqueda
{
  font-size:small;
}

.custom-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
 /* border: 1px solid #ccc;*/
  padding: 10px;
}

.custom-form-group {
  flex: 1;
  margin-right: 10px;
}

.custom-form-group:last-child {
  margin-right: 0;
}

.full-width-button {
  width: 100%;
}

//aqui
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */
}

.image-item {
  flex: 0 1 calc(33.33% - 2%); /* Cada video ocupa 1/3 del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho */
}


@media (max-width: 768px) {
  .image-item {
      flex: 1 1 100%; /* En dispositivos móviles, toma todo el ancho */
  }
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */
 
}

app-video-item {
  flex: 1 1 calc(33.333% - 16px); /* Toma 1/3 del ancho del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total del elemento */
  
}

@media (max-width: 768px) {
  app-video-item {
      flex: 1 1 100%; /* En dispositivos móviles, toma todo el ancho */
  }
}

#form-container .content-block {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-group {
  flex: 1 1 calc(25% - 16px); /* Toma 1/4 del ancho del contenedor menos el espacio del gap */
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total del elemento */
}

.dx-data-grid {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-group {
      flex: 1 1 100%; /* En dispositivos móviles, toma todo el ancho */
  }
}


/* Estilos por defecto */
.dx-popup {
  width: 660px;
  height: 540px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .dx-popup {
    width: 90vw; /* 90% del ancho de la ventana */
    height: 80vh; /* 80% de la altura de la ventana */
  }
}


//Para galeria de fotos en detalle de publicación

//Galeria de imagenes
.image-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 5 columnas de igual tamaño */
  gap: 10px; /* Espacio entre imágenes */
  border: 1;
}

.image-cell {
  width: 100%;
  aspect-ratio: 1/1; /* Mantiene una proporción 1:1 para que las imágenes sean cuadradas */
  overflow: hidden; /* Asegura que las imágenes no sobresalgan de su contenedor */
  border: 1;
}

.image-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio de la celda sin distorsionarse */
  border: 1;
}
//Nuevo

.labeldetalle
{
  font-family: system-ui, sans-serif;
  font-size:large;
  font-weight: bold;
}

.labeldetalledescripcion
{
  font-family: sans-serif;
  font-size:medium;
  
}


/*dx-popup*/

@media (max-width: 768px) {
  .dx-popup {
      width: 100% !important;
      height: 100% !important;
      max-height: 100vh;
      max-width: 100%;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      border-radius: 0;
  }
}

.dx-popup .dx-overlay-content {
  overflow-y: auto;        /* Habilitar scroll vertical */
  height: 100%;            /* Asegurar que el contenido ocupe el 100% del contenedor */
  max-height: 100vh;       /* Limitar la altura máxima a la altura de la ventana */
  box-sizing: border-box;  /* Incluir padding y border en la altura y ancho total */
}

.dx-popup .dx-popup-content {
  padding: 10px;           /* Ajustar el padding interno según sea necesario */
  overflow-y: auto;        /* Asegurar que el contenido sea scrollable */
  max-height: calc(100vh - 50px); /* Dejar espacio para el título y botones */
}

@media (max-width: 768px) {
  .dx-popup .dx-overlay-content {
      overflow-y: auto;
      max-height: 100vh;
  }

  
  .popup-content {
      max-height: calc(100vh - 50px);
      overflow-y: scroll;
  }


  .text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.textovencimiento {
  color: lightsalmon;
  font-size: small;
}


//para el boton de cerrar del dx-popup


.custom-popup .dx-closebutton {
  position: absolute;
  right: 10px; /* Alinea el botón a la derecha */
  top: 10px; /* Espacio desde la parte superior */
  width: 40px; /* Ajusta el tamaño del botón */
  height: 40px; /* Asegura que sea un cuadrado */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Si deseas un fondo personalizado */
  border: none; /* Elimina el borde si lo hay */
}

.custom-popup .dx-closebutton .dx-icon {
  font-size: 20px; /* Ajusta el tamaño de la "X" */
  line-height: 1; /* Asegura la alineación vertical */
  color: #000; /* Ajusta el color de la "X" */
}

.custom-img {
  max-width: 80%;
  height: 80%;
  margin-bottom: 20px; /* Ajusta el valor según lo que necesites */
}



//Para galeria de fotos en detalle de publicación



//Para galeria de fotos en detalle de publicación

//Galeria de imagenes
/* Ajustes generales */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Mantiene 5 columnas en pantallas grandes */
  gap: 10px;
  border: 1;
}

.image-cell {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1;
}

.image-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1;
}

/* Galería centrada */
.image-gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Botones de paginación */
.pagination-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.pagination-button.left {
  position: absolute;
  left: 0;
}

.pagination-button.right {
  position: absolute;
  right: 0;
}

.pagination-button:disabled {
  color: gray;
  cursor: not-allowed;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
  /* Ajusta el grid a 2 columnas en dispositivos más pequeños */
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  /* Ajustes para el carrusel en pantallas pequeñas */
  .carousel {
    width: 100%; /* El carrusel ocupa el 100% del ancho */
    max-width: 100%; /* Limita el ancho máximo para evitar que se extienda más de la pantalla */
    box-shadow: none; /* Quita las sombras para evitar superposición visual en pantallas pequeñas */
  }

  .carousel img {
    width: 100%;
    height: auto; /* Las imágenes se adaptan al ancho completo */
    object-fit: contain; /* Evita que las imágenes se distorsionen */
  }

  /* Oculta los botones de paginación en pantallas pequeñas */
  .pagination-button {
    display: none;
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .image-gallery {
    grid-template-columns: 1fr; /* Una sola columna para pantallas extra pequeñas */
    gap: 5px;
  }

  .carousel img {
    height: auto; /* Asegura que la imagen se ajuste sin distorsión */
  }
}

/* Mantén el CSS existente */

/* Botones de paginación para el carrusel */
/* Ajustes generales para el carrusel */
/* Ajustes generales del carrusel */
.carousel {
  position: relative; /* Necesario para que los botones se posicionen respecto al carrusel */
  width: 100%; /* Asegura que el carrusel ocupe todo el ancho disponible */
  overflow: visible; /* Asegura que los botones no sean recortados */
}

/* Botones de paginación para el carrusel */
.pagination-button {
  background-color:transparent; /* Fondo semitransparente */
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  z-index: 1000; /* Forzar que los botones estén encima de todo */
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Centra el botón verticalmente */
  display: block; /* Asegura que los botones se muestren */
}

.pagination-button.left {
  left: 10px; /* Posiciona a la izquierda */
}

.pagination-button.right {
  right: 10px; /* Posiciona a la derecha */
}

.pagination-button:disabled {
  color: gray;
  cursor: not-allowed;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .pagination-button {
    font-size: 18px; /* Tamaño más pequeño para pantallas más pequeñas */
    left: 5px;
    right: 5px;
  }
}

@media (max-width: 480px) {
  .pagination-button {
    font-size: 16px;
    left: 2px;
    right: 2px;
  }
}

/* Imágenes del carrusel */
.carousel img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Asegurarse de que el contenedor no tenga overflow que esconda los botones */
.carousel-container {
  overflow: visible !important; /* Forzamos que los botones sean visibles */
  position: relative;
}

/*****/

//Nuevo

.labeldetalle
{
  font-family: system-ui, sans-serif;
  font-size:large;
  font-weight: bold;
}

.labeldetalledescripcion
{
  font-family: sans-serif;
  font-size:medium;
  
}

.resumenPublicacion
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;

  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #837272;
}


.resumenCosto
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;
  background-color: #F4F6F6;
  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #837272;
 
}

.resumenContacto {
  border: 1px solid black; /* Borde del fieldset */
  padding: 5px; /* Espacio interno */
  margin-bottom: 20px; /* Espacio debajo del fieldset */
  border-radius: 5px; /* Bordes redondeados */

}
 legend {
  font-style:normal;
  color: darkblue;
  font-size: large;
  font-weight: bold;
  padding: 0 5px; /* Espacio alrededor del texto del legend */
}



/*dx-popup*/

@media (max-width: 768px) {
  .dx-popup {
      width: 100% !important;
      height: 100% !important;
      max-height: 100vh;
      max-width: 100%;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      border-radius: 0;
  }
}

.dx-popup .dx-overlay-content {
  overflow-y: auto;        /* Habilitar scroll vertical */
  height: 100%;            /* Asegurar que el contenido ocupe el 100% del contenedor */
  max-height: 100vh;       /* Limitar la altura máxima a la altura de la ventana */
  box-sizing: border-box;  /* Incluir padding y border en la altura y ancho total */
}

.dx-popup .dx-popup-content {
  padding: 10px;           /* Ajustar el padding interno según sea necesario */
  overflow-y: auto;        /* Asegurar que el contenido sea scrollable */
  max-height: calc(100vh - 50px); /* Dejar espacio para el título y botones */
}

@media (max-width: 768px) {
  .dx-popup .dx-overlay-content {
      overflow-y: auto;
      max-height: 100vh;
  }

  
  .popup-content {
      max-height: calc(100vh - 50px);
      overflow-y: scroll;
  }


  .custom-form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .custom-form-group {
    width: 16.5%;
    margin-right: 0.5%;
    margin-bottom: 10px;
  }
  
  @media (max-width: 1200px) {
    .custom-form-group {
      width: 30%;
    }
  }
  
  @media (max-width: 768px) {
    .custom-form-group {
      width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .custom-form-group {
      width: 100%;
    }
  }
  
  .full-width-button {
    width: 50%;
  }
  


  /* Estilo para hacer que el contenido del popup Ver Mas sea desplazable */
.popup-content {
  max-height: 100%;
  overflow-y: auto;
  padding: 15px;
}




}
}

.vence-pronto {

font-weight: bold;
  background-color: red;
  color: white;
  padding: 5px; /* Opcional: para añadir relleno */
  font-size: small;
}

.vence-lejos {
  font-weight: bold;
  font-weight: normal;
  color: darkblue; /* O el color que desees */
  padding: 5px; /* Opcional: para añadir relleno */
  font-size: small;
}

.vencido {
  font-weight: bold;
  background-color: darkred;
  color: white;
  padding: 5px; /* Opcional: para añadir relleno */
  font-size: small;
}






//Nuevos css
.reduced-padding {
  padding-top: 5px !important;    /* Reducir padding superior */
  padding-bottom: 5px !important; /* Reducir padding inferior */
  margin-top: 10px !important;     /* Reducir margin superior */
  margin-bottom: 5px !important;  /* Reducir margin inferior */
}





/****************************************************************************************************************************************************************
*****************************************************************************************************************************************************************/
//Para probar nueva interfaz


::ng-deep .grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Tres columnas de igual tamaño */
  gap: 20px; /* Espacio entre las tarjetas */
 
  margin: 0 auto; /* Centrar el contenedor */
  width: 100%; /* Asegurarse de que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding y border en el cálculo de width y height */
}

.listing-card {
  background-color: var(--card-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.listing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--shadow-color);
}

.listing-card {
  background-color: var(--card-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que las tarjetas llenen la altura de la grilla */
}
.listing-image-container {
  position: relative;
 /* height: 200px; 
  overflow: hidden;*/
  height: auto !important;        /* La altura se ajustará proporcionalmente */
  object-fit: contain !important; /* La imagen se ajustará sin perder proporciones ni recortarse */
}

/*
.listing-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.3s ease;
}*/

.listing-image {
  width: 100% !important;         /* La imagen ocupará todo el ancho del contenedor */
  height: auto !important;        /* La altura se ajustará proporcionalmente */
  object-fit: contain !important; /* La imagen se ajustará sin perder proporciones ni recortarse */
  transition: transform 0.3s ease !important;
 
}

.listing-card:hover .listing-image {
  transform: scale(1.05); /* Efecto al pasar el ratón */
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas aún más pequeñas */
  }
}

.listing-details {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.listing-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: var(--primary-color);
}

.listing-price {
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
  color: darkorange;
}

.listing-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
  color: #666;
  flex-grow: 1;
}

.listing-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #888;
  margin-top: auto;
}

.listing-rating {
  display: flex;
  align-items: center;
}

.star-rating {
  color: #f39c12;
  margin-right: 5px;
}

.listing-code {
 /* background-color: var(--primary-color);
  color: aquamarine;
  
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;*/

  position: absolute;
  top: 10px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}


.publisher {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Imagen, nombre, texto adicional */
  align-items: center; /* Alinea todo verticalmente al centro */
  
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 20px; /* Espacio a la izquierda del contenedor */
  padding-right: 20px; /* Espacio a la derecha del contenedor */
  border-top: 1px solid #eee;
}

.publisher-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px; /* Espacio entre la imagen y el nombre */
  margin-bottom: 5px;
}

.publisher-info {
  display: flex;
  align-items: center; /* Alinea verticalmente el nombre */
}

.publisher-name {
  font-size: 14px;
  font-weight: 500;
}

.publisher-estadoborrador {
  background-color:darkblue;   /* Fondo azul */
  color: white;             /* Texto blanco */
  padding: 5px 10px;        /* Espacio dentro del texto */
  border-radius: 5px;       /* Bordes redondeados */
  font-size: 12px;          /* Tamaño de fuente */
  text-align: center;       /* Centra el texto horizontalmente */
  margin-left: 10px;        /* Espacio entre el nombre y el texto adicional */
  margin-right: 5px;       /* Espacio a la derecha del texto adicional */
  align-self: center;       /* Alinea verticalmente con el nombre */
}

.publisher-estadoaprobado {
  background-color: #4CAF50;   /* Fondo azul */
  color: white;             /* Texto blanco */
  padding: 5px 10px;        /* Espacio dentro del texto */
  border-radius: 5px;       /* Bordes redondeados */
  font-size: 12px;          /* Tamaño de fuente */
  text-align: center;       /* Centra el texto horizontalmente */
  margin-left: 10px;        /* Espacio entre el nombre y el texto adicional */
  margin-right: 5px;       /* Espacio a la derecha del texto adicional */
  align-self: center;       /* Alinea verticalmente con el nombre */
}

.publisher-estadorechazado {
  background-color: darkred;   /* Fondo azul */
  color: white;             /* Texto blanco */
  padding: 5px 10px;        /* Espacio dentro del texto */
  border-radius: 5px;       /* Bordes redondeados */
  font-size: 12px;          /* Tamaño de fuente */
  text-align: center;       /* Centra el texto horizontalmente */
  margin-left: 10px;        /* Espacio entre el nombre y el texto adicional */
  margin-right: 5px;       /* Espacio a la derecha del texto adicional */
  align-self: center;       /* Alinea verticalmente con el nombre */
}

.publisher-estadovencido {
  background-color: darkorange;   /* Fondo azul */
  color: white;             /* Texto blanco */
  padding: 5px 10px;        /* Espacio dentro del texto */
  border-radius: 5px;       /* Bordes redondeados */
  font-size: 12px;          /* Tamaño de fuente */
  text-align: center;       /* Centra el texto horizontalmente */
  margin-left: 10px;        /* Espacio entre el nombre y el texto adicional */
  margin-right: 5px;       /* Espacio a la derecha del texto adicional */
  align-self: center;       /* Alinea verticalmente con el nombre */
}



.white-fill {
  color: white; /* Color blanco para el texto de relleno */
}

.parent-container {
  width: 100%; /* Asegúrate de que el contenedor padre ocupe todo el ancho */
  height: 100%; /* Opcional, si deseas que también ocupe toda la altura */
}
//Fin para probar nueva interfaz

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

/* Aplica los estilos solo a los botones dentro de .modal-footer */
.modal-footer .dx-button {
  flex: 1;
  min-width: 0;
  font-size: 12px; /* Cambia el tamaño de la fuente aquí */
}


/* Asegúrate de que el selector sea más específico */
.container .justify-text {
  text-align: justify;
  display: block; /* Asegúrate de que sea un bloque */
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

.container .justify-text::after {
  content: ""; /* Para que el último renglón se justifique también */
  display: inline-block;
  width: 100%;
}

::ng-deep body{
  text-align: justify;
}


/* Overlay que cubre toda la pantalla */
.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté encima de todo */
}

/* El spinner en sí */
.loading-spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Borde gris claro */
  border-top: 8px solid white; /* Borde superior blanco para la animación */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Animación de giro */
}

/* Animación de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*Para botones en movil */
.small-button {
  font-size: 7px; /* Tamaño de fuente más pequeño */
  padding: 5px 10px; /* Reduce el relleno interno del botón */
  min-width: 80px; /* Asegúrate de que los botones sean lo suficientemente anchos */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que el contenido se ajuste */
}

.dx-button {
  white-space: nowrap; /* Evita que el texto se trunque */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
  overflow: hidden;
}

.small-button .dx-button-text {
  font-size: 10px; /* Ajusta el tamaño del texto dentro del botón */
  line-height: 1.2; /* Reduce la altura de línea */
}


//Para el Rango de Precios
/* Ajusta el tamaño del tooltip */
::ng-deep .dx-slider-tooltip {
  font-size: 16px; /* Cambia el tamaño de la fuente */
  padding: 10px; /* Aumenta el relleno interno */
  border-radius: 8px; /* Ajusta las esquinas redondeadas */
}

/* Ajusta el ancho del contenedor del tooltip */
::ng-deep .dx-slider-tooltip .dx-overlay-content {
  min-width: 100px; /* Define un ancho mínimo */
  max-width: 200px; /* Define un ancho máximo */
}

/* Cambia el estilo del texto dentro del tooltip */
::ng-deep .dx-slider-tooltip .dx-slider-tooltip-text {
  font-weight: bold;
  color: #333; /* Cambia el color del texto */
}


/*Para el Dashboard de publicaciones*/
.dashboard {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 10px;
  background-color: #eeeeee;
}

.card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 150px;
  height: 60px; /* Altura fija más corta */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente el contenido */
  align-items: center; /* Centrar horizontalmente el contenido */
  transition: all 0.3s ease; /* Transición suave */
}

.card h3 {
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  margin: 5px 0;
}

.card p {
  font-size: 1em; /* Ajustar tamaño del número */
  font-weight: bold;
  color: #333;
  margin: 0; /* Eliminar márgenes para mejor alineación */
}
.card:hover {
  cursor: pointer; /* Cambia el cursor a la manito */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
  filter: brightness(0.9); /* Oscurece ligeramente el fondo */
  color: white;
}

.card:hover h3,
.card:hover p {
  color: white !important; /* Cambiar el color de la letra a blanco en hover */
}


.card.aprobadas:hover {
  background-color: green;
  color: white !important;
}

.card.vencidas:hover {
  background-color: darkorange;
  color: white !important;
}

.card.borrador:hover {
  background-color: darkblue;
  color: white !important;
} 

.card.rechazadas:hover {
  background-color: red;
  color: white !important;
}

.card.total:hover {
  background-color: black;
  color: white;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .card {
    width: 100px; /* Reducir ancho en móviles */
    height: 40px; /* Reducir altura */
    padding: 8px;
  }

  .card h3 {
    font-size: 0.7em; /* Reducir tamaño de fuente en móviles */
  }

  .card p {
    font-size: 0.8em; /* Reducir tamaño del número */
  }
}

/* Media query para pantallas muy pequeñas (por ejemplo, < 480px) */
@media (max-width: 480px) {
  .card {
    width: 95px; /* Aún más pequeño para pantallas muy pequeñas */
    height: 35px;
  }

  .card h3 {
    font-size: 0.6em; /* Tamaño más pequeño */
  }

  .card p {
    font-size: 0.7em; /* Tamaño más pequeño */
  }
}



  /*CSS para Planes y Precios*/
  .pricing-page {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  .pricing-hero {
    text-align: center;
    margin-bottom: 4rem;
  }

  .pricing-hero h1 {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  .pricing-hero p {
    font-size: 1.2rem;
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
  }

  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 1rem;
  }

  .pricing-card {
    background: var(--card-bg);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
  }

  .pricing-card:hover {
    transform: translateY(-10px);
  }

  .pricing-card.popular::before {
    content: "Más Popular";
    position: absolute;
    top: 20px;
    right: -35px;
    background: #1976d2;
    color: white;
    padding: 8px 40px;
    transform: rotate(45deg);
    font-size: 0.8rem;
  }

  .plan-name {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  .plan-price {
    font-size: 3rem;
    color: #1976d2;
    margin-bottom: 1rem;
  }

  .plan-price small {
    font-size: 1rem;
    color: var(--text-color);
  }

  .plan-features {
    list-style: none;
    margin: 2rem 0;
  }

  .plan-features li {
    margin-bottom: 1rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .feature-icon {
    color: #1976d2;
    width: 20px;
    height: 20px;
  }

  .plan-cta {
    display: inline-block;
    padding: 1rem 2rem;
    background: #1976d2;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .plan-cta:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(25, 118, 210, 0.3);
  }

  .faq-section {
    padding: 4rem 2rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .faq-section h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 3rem;
  }

  .faq-item {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 1.5rem;
  }

  .faq-question {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .faq-answer {
    color: var(--text-color);
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    .pricing-grid {
      grid-template-columns: 1fr;
    }
    
    .pricing-hero h1 {
      font-size: 2rem;
    }
    
    .plan-price {
      font-size: 2.5rem;
    }
  }

  .period-selector {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
  }

  .total-price {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
  }

  .discount-badge {
    background: #4CAF50;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 0.5rem;
  }
  
  .pricing-card[data-base-price="0"] .plan-price {
    color: #4CAF50;
  }

  .pricing-card[data-base-price="0"] .period-selector {
    display: none;
  }
