<form class="login-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading">

    <dxi-item dataField="email" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Correo Electrónico', mode: 'email' }">
      <dxi-validation-rule type="required" message="Correo es requerido"></dxi-validation-rule>
      <dxi-validation-rule type="email" message="El correo es invalido"></dxi-validation-rule>
      <dxo-label [visible]="true"></dxo-label>
    </dxi-item>

    <dxi-item [visible]="showMe" dataField="password" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Contraseña', mode: 'password' }">
      <dxi-validation-rule type="required" message="Contraseña es requerida"></dxi-validation-rule>
      <dxo-label [visible]="true"></dxo-label>
    </dxi-item>

    <dxi-item dataField="rememberMe" editorType="dxCheckBox"
      [editorOptions]="{ text: 'Recordarme', elementAttr: { class: 'form-text' } }">
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 

    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'signInTemplate'">
      </dxo-button-options>
    </dxi-item>
 

    <dxi-item itemType="button">
      <dxo-button-options text="Registrarse" width="100%" [onClick]="onCreateAccountClick"></dxo-button-options>
    </dxi-item>

    <dxi-item>
      <div class="link">
        <a routerLink="/reset-password">Olvidé mi contraseña</a>
        <br>
      </div>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'signInTemplate'">
      <span class="dx-button-text">
        <ng-container *ngIf="loading; else notLoading">
          <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
        </ng-container>
        <ng-template #notLoading>Iniciar Sesión </ng-template>
      </span>
    </ng-container>




  </dx-form>
</form>


