<h2 class="content-block">Alcances</h2>

    
<div id="form-container">

    <div class="content-block dx-card responsive-paddings">
        <form name="myForm">
            <div class="form-row col-lg-12">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="labeld" for="perfil">Nombre del alcance <font COLOR="red">*</font>:</label>
                        <dx-text-box placeholder="Ingresar nombre del alcance" [(ngModel)]="alcances.NombreAlcance" [ngModelOptions]="{standalone: true}" ></dx-text-box>
                        <label class="labeld" for="perfil">cantidad del alcance <font COLOR="red">*</font>:</label>
                        <dx-text-box placeholder="Ingresar cantidad del alcance" [(ngModel)]="alcances.CantidadAlcance" [ngModelOptions]="{standalone: true}" ></dx-text-box>
                                
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <br>
                    <div class="form-group">
                        <dx-button stylingMode="contained" text="Contained" type="success" [width]="120"
                            (onClick)="AsignarAlcance()">Guardar
                        </dx-button>

                    </div>
                </div>

            </div>

        </form>

        <br>

    <dx-data-grid keyExpr="AlcanceID" [dataSource]="selectAlcances" [showBorders]="true"
        [focusedRowEnabled]="true" [columnAutoWidth]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true"
        [rowAlternationEnabled]="true" ng-selected="true" [allowColumnReordering]="true"
        [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true">

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxi-column dataField="AlcanceID" caption="Id"></dxi-column>
        <dxi-column dataField="NombreAlcance" caption="NombreAlcance"></dxi-column>
        <dxi-column dataField="CantidadAlcance" caption="CantidadAlcance"></dxi-column>
          
        <dxo-editing mode="form"></dxo-editing>
            <dxi-column caption="Operaciones" cellTemplate="accionCellTemplate" alignment="center"></dxi-column>
        
        
        

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-search-panel [visible]="true" placeholder="Buscar..."></dxo-search-panel>
        <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage">
        </dxo-state-storing>

        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]" [visible]="true"
            [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
        <dxo-summary>
            <dxi-total-item column="AlcancesID" summaryType="count" displayFormat="Cantidad: {0}">
            </dxi-total-item>
        </dxo-summary>
        <div *dxTemplate="let d of 'accionCellTemplate'">
            <div class="button-cell">

                <dx-button id="button" class="rounded mx-auto"  icon="edit" hint="Editar"   type="success"
                    (click)="Editar(d.data.AlcancesID)"></dx-button>

                    <dx-button id="button" class="rounded mx-auto" icon="remove" hint="Eliminar"  type="danger"
                    (click)="ConfirmacionEliminar(d.data.AlcancesID)"></dx-button>

            </div>
        </div>
    </dx-data-grid>

    



</div>
</div>

<br>
<br>
<ng-template class="modal-dialog-centered"  #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Eliminar Registro</h4>
    </div>
    <div class="modal-body">
      <p>
        <span class="text-danger"><b>¿Está seguro que desea borrar el registro?</b></span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="d('cancel click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="Eliminar(); d('Ok click'); ">Aceptar</button>
    </div>
  </ng-template>
