<h2 class="content-block">Calendario</h2>

<div id="form-container">

    <div class="content-block dx-card responsive-paddings">

        <h4>Asignación de Disponibilidad de Promotor</h4>

        <form name="myForm">


            <div class="form-row col-lg-12">


                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="labeld" for="localidad">Localidad <font COLOR="red">*</font>:</label>


                        <dx-select-box  placeholder="Seleccione" [dataSource]="selectLocalidad" valueExpr="id" displayExpr="localidad"
                            [searchEnabled]="true" [(ngModel)]="disponibilidadusuario.localidadId"
                            [ngModelOptions]="{standalone: true}">
                        </dx-select-box>


                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="labeld" for="fechainicial">Fecha Inicial <font COLOR="red">*</font>:</label>
                        <dx-date-box [value]="now" type="datetime" [(ngModel)]="disponibilidadusuario.startDate"
                            [ngModelOptions]="{standalone: true}"></dx-date-box> 
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="labeld" for="fechafinal">Fecha Final <font COLOR="red">*</font>:</label>
                        <dx-date-box [value]="now" type="datetime" [(ngModel)]="disponibilidadusuario.endDate"
                            [ngModelOptions]="{standalone: true}"> </dx-date-box>
                    </div>
                </div>
            </div>

            <div class="form-row col-lg-12">


                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="labeld" for="localidad">Promotor a Transferir <font COLOR="red">*</font>:</label>


                        <dx-list #list [dataSource]="lstusuario" [height]="400" [selectionMode]="selectionModeValue"
                            [selectAllMode]="selectAllModeVlaue" [showSelectionControls]="true"
                            [selectedItemKeys]="[1,10]" (onSelectionChanged)="onSelectionChanged($event)"
                            (onSelectAllValueChanged)="onSelectAllValueChanged($event)">
                            <div *dxTemplate="let item of 'item'">
                                <div style="font-size: x-small; text-align: left">
                                    <b>ID: {{item.id}}</b>
                                </div>
                                <div
                                    style="word-wrap: break-word; white-space:normal; text-align: left; font-size: small; margin-top: 3px">
                                    {{item.text}}
                                </div>
                            </div>
                        </dx-list>


                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="labeld" for="localidad">Promotor Transferido <font COLOR="red">*</font>:</label>


                        <div class="selected-data">
                            <div *ngFor="let item of lstusuarioasignado">
                                {{ item.text }}
                            </div>
                        </div>

                    </div>
                </div>




                <div class="col-lg-4">
                    <br>
                    <div class="form-group">
                        <dx-button stylingMode="contained" text="Contained" type="success" [width]="120"
                            (onClick)="AsignarDisponibilidadUsuario()">Enviar
                        </dx-button>

                    </div>
                </div>

            </div>

        </form>

      
        <br>
        <h4 >Consulta de Disponibilidad de Promotor por Localidad</h4>

        <form name="myForm">


            <div class="form-row col-lg-12">


                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="labeld" for="localidad">Localidad a Consultar<font COLOR="red">*</font>:</label>


                        <dx-select-box  placeholder="Seleccione" [dataSource]="selectLocalidad" valueExpr="id" displayExpr="localidad"
                            [searchEnabled]="true" [(ngModel)]="localidadBuscar" 
                            [ngModelOptions]="{standalone: true}" (onValueChanged)="onValueChanged($event)">
                        </dx-select-box>


                    </div>
                </div>

            </div>

          

        </form>
        <dx-scheduler
        timeZone="America/Bogota"
        [dataSource]="selectDisponibilidadAsignada"
        [views]="['day', 'week', 'workWeek', 'month']"
        currentView="week"
        [currentDate]="currentDate"
        [startDayHour]="7"
        [height]="600"
        (onAppointmentDeleted)="onAppointmentDeleted($event)"
        >
          <dxo-editing
            #editingOptions
            [allowAdding]="false"
            [allowDeleting]="true"
            [allowUpdating]="false"
            [allowResizing]="false"
            [allowDragging]="false"
          ></dxo-editing>
      </dx-scheduler>
    

    </div>
</div>


<br>
<br>
<ng-template class="modal-dialog-centered"  #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Eliminar Registro</h4>
    </div>
    <div class="modal-body">
      <p>
        <span class="text-danger"><b>¿Está seguro que desea borrar el registro?</b></span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="d('cancel click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="Editar(); d('Ok click'); ">Aceptar</button>
    </div>
  </ng-template>