<ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}">
    <router-outlet></router-outlet>
    <app-footer>
      Micro World System © {{appInfo.currentYear}} {{appInfo.title}} 
    
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container>


<!--<app-landing-page></app-landing-page>-->
<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
