<h2 class="content-block">Ayuda y Soporte Técnico</h2>

<div class="content-block dx-card responsive-paddings" >
    <div class="row">
        <label class="labelt">Información de Contacto, Soporte y Ayuda</label>
    </div>

    
        <div class="row">
            <div class="col-lg-4" style="display: flex; justify-content: flex-start; align-items: center;">
              <label class="labeld">Correo de Soporte:</label>
            </div>
            <div class="col-lg-6" style="display: flex; justify-content: flex-start; align-items: center;">
             soporte@vecinoemprende.com
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4" style="display: flex; justify-content: flex-start; align-items: center;">
              <label class="labeld">Teléfono de Contacto:</label>
            </div>
            <div class="col-lg-6" style="display: flex; justify-content: flex-start; align-items: center;">
             (+571) 310 585 37 86 
            </div>
          </div>
   
       
          <div class="row">
            <div class="col-lg-4" style="display: flex; justify-content: flex-start; align-items: center;">
              <label class="labeld">Chat vía WhatsApp:</label>
            </div>
            <div class="col-lg-6" style="display: flex; justify-content: flex-start; align-items: center;">
              (+57) 310 585 37 86 
              <a 
                [href]="'https://wa.me/' + '573105853786' + '?text=Requiero%20Soporte%20Técnico%20y/o%20Ayuda'"
                target="_blank" 
                style="margin-left: 10px; color: #25D366;">
                <i class="fab fa-whatsapp fa-2x"></i> <!-- Aumentamos el tamaño con fa-2x -->
              </a>
            </div>
            
          </div>

</div>


<div class="content-block dx-card responsive-paddings" >
    <div class="row">
        <label class="labelt">Video Tutorial Vecino Emprende</label>
    </div>

    <div class="row" *ngIf="!isMobileDevice">
        <!-- Columna 1: Video -->
        <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="video-grid" style="width: 50%; display: flex; justify-content: center;">
                <app-video-item 
                    [video]="video"
                    style="width: 100%; height: auto;  max-width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                </app-video-item>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isMobileDevice">
      <!-- Columna 1: Video -->
      <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
          <div class="video-grid" style="width: 100%; height: auto; display: flex; justify-content: center;">
              <app-video-item 
                  [video]="video"
                  style="width: 100%; height: auto; max-width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </app-video-item>
          </div>
      </div>
  </div>

</div>



