/* pagopayu.component.scss */
.pago-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pago-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  