@import "../../../themes/generated/variables.base.scss";

:host {
  width: 100%;
  height: 100%;
}

.div-text-center{
  text-align: center;
}

.bg-login{
   
  background-color: #fff;
  background-image: url("../../../assets/images/Conjunto2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.75);
  opacity: 80%;
}
.img-fluid {
  max-width: 400px;
  height: auto;
}

.single-card {
  .dx-card {
    width: 330px;
    margin: auto auto;
    padding: 40px;
    flex-grow: 0;

    :host-context(.screen-x-small) & {
      width: 100%;
      height: 100%;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      border: 0;
      flex-grow: 1;
    }

    .header {
      margin-bottom: 30px;

      .title {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $base-text-color;
        line-height: 28px;
        font-weight: 500;
        font-size: 24px;
      }

      .description {
        color: rgba($base-text-color, alpha($base-text-color) * 0.7);
        line-height: 18px;
      }
    }
  }
}



.custom-img {
  max-width: 100%;
  height:20%;
}

@media (max-width: 768px) {
  .custom-img {
      width: 75%; /* Ajuste para pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .custom-img {
      width: 100%; /* Ajuste para pantallas muy pequeñas */
  }
}

