<dx-scroll-view height="100%" width="100%" class="with-footer single-card bg-login" >
  <div class="dx-card content" style="width: auto; opacity: 90%;">
    <div class="header">
      <div style="text-align: center;">
       <!-- <img src="../../../assets/images/logo_micro_world_system.png" class="img-fluid" alt="Responsive image">-->
        <img src="../../../assets/images/LogoVecinoEmprendeSmall.png" class="img-fluid custom-img" alt="Responsive image">
      </div>
      
      <br>
      <hr>
      <br>
      <div class="div-text-center">
        <div class="title">VecinoEmprende.com</div>
        <div class="description">Micro World System</div>
      </div>
      
    </div>
    <div class="form-row col-lg-12">
      <div class="col-lg-6">
        <div class="content-block2 dx-card responsive-paddings left">
          <div class="title"><strong>{{title}}</strong></div>
          <hr>
          <p style="text-align: justify;"><strong>¡Clasificados a tu alcance!</strong> Gestiona tus anuncios desde la comodidad de tu hogar. ¡Anúnciate y encuentra lo que necesitas con nuestro sistema de gestión de clasificados para conjuntos residenciales! </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-block2 dx-card responsive-paddings right">
          <div style="text-align: center;">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</dx-scroll-view>

