/* You can add global styles to this file, and also import other style files */
.modal-backdrop {
  z-index: 1500 !important;
}

.labeld {
  font-size: medium;
  font-weight: bold;
}

.labelt {
  font-size: x-large;
  font-weight: bold;
}

.labeltsub {
  font-size: medium;
  color: green;
}

.labeltsub2 {
  font-size: small;
  color: red;
}

.labeltsub3 {
  font-size: small;
  color: darkblue;
}

