<div class="user-panel">
  <div class="user-info">
    <div class="image-container">
      <div class="user-image" [ngStyle]="{'background-image': 'url(' + userImageUrl + ')'}"></div>
    </div>
    <div class="user-name">{{email}} </div>
  </div>
  <dx-context-menu
    *ngIf="menuMode === 'context'"
    [items]="menuItems"
    target=".user-button"
    showEvent="dxclick"
    width="210px"
    [position]="{ my: { x: 'center', y: 'center'}, at: { y: 'center'} }"
    cssClass="user-menu">
  </dx-context-menu>
  <dx-list
    *ngIf="menuMode === 'list'"
    class="dx-toolbar-menu-action"
    [items]="menuItems">
  </dx-list>
</div>
