.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Mantiene la proporción 16:9 */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centra horizontalmente el iframe */
    align-items: center; /* Centra verticalmente el iframe */
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  