@import "../../../../themes/generated/variables.base.scss";

.create-account-form {

  .policy-info {
    margin: 10px 0;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
    font-size: 14px;
    font-style: normal;

    a {

      /*color: rgba($base-text-color, alpha($base-text-color) * 0.7);*/
      color: darkblue;
      text-decoration: underline;
      
    }
  }

  .login-link {
    color: $base-accent;
    font-size: 16px;
    text-align: center;
  }

  .resumenPublicacion
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;

  /* #E5E7E9;*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #837272;
}


}

::ng-deep .dx-field-item-label-text {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: left !important; /* Usa !important si hay estilos conflictivos */
  width: 100%;
  
}

/* Cambiar color y fondo del mensaje de error */
::ng-deep .dx-invalid-message {
  background-color: #ffe6e6; /* Fondo rojo claro */
  color: #e74c3c; /* Texto rojo */
  border: 1px solid #e74c3c; /* Borde rojo */
  border-radius: 4px;
  padding: 8px;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Cambiar posición del mensaje */
::ng-deep .dx-invalid-message-content {
  text-align: center;
}

/* Opcional: Estilo adicional para campos inválidos */
::ng-deep .dx-invalid .dx-texteditor-input {
  border-color: #e74c3c; /* Cambiar el color del borde */
  background-color: #fff5f5; /* Fondo rojo claro */
}

.policy-container {
  display: flex;
  align-items: center;
}

.policy-container .policy-text {
  margin-left: 8px;
}
