<form *ngIf="!displayNextStepActivateAccount" class="create-account-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading">

    <dxi-item>
      <div class='policy-info'>
      <b>Registre los siguientes datos para crear su cuenta:</b>
      </div>
    </dxi-item>


    <dxi-item dataField="Nombre" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Nombre' }">
      <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
      <dxo-label [visible]="true" text="Nombres y Apellidos" ></dxo-label>
    </dxi-item>

   
    <dxi-item
      dataField="PerfilUsuarioID"
      editorType="dxSelectBox"
      [editorOptions]="{
        stylingMode: 'filled',
        placeholder: 'Perfil',
        items: [{ value: 2, text: 'Publicador' }, { value: 3, text: 'Consulta' }],
        valueExpr: 'value',
        displayExpr: 'text',
        onValueChanged: onProfileChange
      }">
      <dxi-validation-rule type="required" message="Debe seleccionar un perfil"></dxi-validation-rule>
      <dxo-label [visible]="true" text="Perfil de Usuario"></dxo-label>
    </dxi-item>


    <dxi-item dataField="CorreoElectronico" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Correo Electrónico', mode: 'email',onValueChanged: onPlGroupValueChanged  }">
      <dxi-validation-rule type="required" message="Correo es requerido"></dxi-validation-rule>
      <dxi-validation-rule type="email" message="Correo Invalido"></dxi-validation-rule>
      <dxo-label [visible]="true" text="Correo Electrónico"></dxo-label>
    </dxi-item>


    <dxi-item
    *ngIf="showAlias"
    dataField="NombreSocial"
    editorType="dxTextBox"
    [editorOptions]="{ stylingMode: 'filled', placeholder: 'Nombre Social' }">
    <dxi-validation-rule type="required" message="Nombre Social es requerido"></dxi-validation-rule>
    <dxo-label [visible]="true" text="Alias (Nombre que aparecerá en la Publicación)"></dxo-label>
  </dxi-item>

  <dxi-item
      *ngIf="showPhone"
      dataField="TelefonoCelular"
      editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Teléfono' }">
      <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
      <dxo-label [visible]="true" text="Teléfono al que desea ser contactado"></dxo-label>
    </dxi-item>

   

    <dxi-item [visible]="showMe" dataField="Contrasena" editorType="dxTextBox"
  [editorOptions]="{ stylingMode: 'filled', placeholder: 'Contraseña', mode: 'password' }">
  <dxi-validation-rule type="required" message="La contraseña es requerida"></dxi-validation-rule>
  <dxi-validation-rule 
    type="custom" 
    message="Debe tener (8-12) caracteres, 1 letra mayúscula, 1 número y 1 carácter especial"
    [validationCallback]="validatePassword">
  </dxi-validation-rule>
  <dxo-label [visible]="true" text="Contraseña"></dxo-label>
</dxi-item>

<dxi-item [visible]="showMe" dataField="ConfirmedContrasena" editorType="dxTextBox"
  [editorOptions]="{ stylingMode: 'filled', placeholder: 'Confirmar Contraseña', mode: 'password' }">
  <dxi-validation-rule type="required" message="La confirmación es requerida"></dxi-validation-rule>
  <dxi-validation-rule 
    type="custom" 
    message="Las contraseñas no coinciden" 
    [validationCallback]="confirmPassword">
  </dxi-validation-rule>
  <dxo-label [visible]="true" text="Confirme Contraseña"></dxo-label>
</dxi-item>

<dxi-item>
      <a href="http://www.vecinoemprende.com/Política_de_Tratamiento_de_Datos_VecinoEmprende.pdf" target="_blank">
        Politica de privacidad de Datos. <br>Consúltela aquí
      </a>.
</dxi-item>

<dxi-item dataField="AcceptPolicy" editorType="dxCheckBox"
[editorOptions]="{ text: ' Al crear la cuenta, usted acepta la política de privacidad de datos.', elementAttr: { class: 'form-text' },onValueChanged: onCheckboxClick }">

<dxo-label [visible]="false"></dxo-label>
</dxi-item> 









    <!-- <dxi-item>
      <div class='policy-info'>
        <b>¿Cuenta con un código promocional de bienvenida?. Ingreselo aquí</b>
       
      </div>
    </dxi-item>

   
    <dxi-item dataField="CodigoBienvenida" editorType="dxTextBox"
    [editorOptions]="{ stylingMode: 'filled', placeholder: 'Código de Bienvenida' }">
    <dxo-label [visible]="false"></dxo-label>
  </dxi-item> -->


    <dxi-item itemType="button" >
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'createAccountTemplate'">
      </dxo-button-options>
    </dxi-item>

    <dxi-item>
      <div class="login-link">
        ¿Ya tiene una cuenta? <a routerLink="/login">Iniciar Sesión</a>
      </div>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'createAccountTemplate'">
      <span class="dx-button-text">
        <ng-container *ngIf="loading; else notLoading">
          <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
        </ng-container>

        <ng-template #notLoading >Registrarse</ng-template>
      </span>
    </ng-container>

  </dx-form>
</form>


<div *ngIf="displayNextStepActivateAccount" height="100%" width="100%" class="with-footer single-card bg-login" >
    
  
  <div style="text-align: justify;">
    <p>
      <strong>¡Registro Exitoso!</strong><br><br>
      Tu cuenta ha sido creada exitosamente.<br>
      Por favor, revisa tu correo electrónico para completar la activación de tu cuenta. 
      Hemos enviado un enlace de verificación a la dirección de correo que proporcionaste.<br><br>
      <strong>¿Qué debes hacer ahora?</strong><br>
      1. Abre el correo que te hemos enviado.<br>
      2. Haz clic en el enlace de activación para verificar tu cuenta.<br><br>
      Si no encuentras el correo en tu bandeja de entrada, revisa tu carpeta de spam o correo no deseado.<br><br>
      Gracias por unirte a nuestra comunidad. ¡Estamos emocionados de tenerte con nosotros!
    </p>
    
    <p style="font-size: 12px; color: #555;">
      Si en el transcurso de 2 minutos no ha llegado el correo, por favor solicita tu enlace de activación enviando un correo a 
      <strong>soporte@vecinoemprende.com</strong> o escríbenos al WhatsApp:
      <a 
        [attr.href]="whatsappLink"
        target="_blank" 
        rel="noopener noreferrer"
        style="margin-left: 5px; color: #25D366; text-decoration: none;">
        (+57) 310 585 37 86 
        <i class="fab fa-whatsapp fa-2x" style="vertical-align: middle;"></i>
      </a>
    </p>
  </div>
  
  
  
  
    
    
</div>





