/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}*/

/* Encabezado y menú */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 80px;
    width: auto;
    margin: 10px 0;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: rgba(61, 50, 50, 0.572);
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 600;
}

.menu a:hover {
    background-color: #eae4e4;
}

.menu .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu a {
        display: none;
    }

    .menu .icon {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 24px;
    }

    .menu.responsive {
        flex-direction: column;
        background-color: white;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .menu.responsive a {
        display: block;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
}

/* Buscador */
.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #f8f8f8;
    margin-top: 80px;
    z-index: 999;
}

.search-bar input[type="text"],
.search-bar select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.search-bar button:hover {
    background-color: #575757;
}

/* Iconos dentro de los inputs */
.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
}

.input-with-icon input,
.input-with-icon select {
    padding-left: 30px;
}

/* Carrusel */
.carousel {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-top: 10px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel img.active {
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-indicators div {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: white;
}

/* Secciones */
.section {
    padding: 60px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.section-title {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

.product-list,
.general-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.product,
.service,
.general-option {
    flex: 0 0 100%;
    margin: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.product img,
.service img,
.general-option img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product:hover,
.service:hover,
.general-option:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 600px) {
    .product,
    .service {
        flex: 0 0 48%;
    }

    .general-option {
        flex: 0 0 45%;
    }
}

@media screen and (min-width: 992px) {
    .product,
    .service {
        flex: 0 0 23%;
    }
}

/* Banner para Planes */
.plans-banner {
    text-align: center;
    padding: 60px 20px;
    background-color: #333;
    color: white;
}

.plans-banner h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.plans-banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.plans-banner button {
    padding: 15px 30px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.plans-banner button:hover {
    background-color: #e68900;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}
